<section class="section">
  <div class="container">
    <nav class="level">
      <div class="level-left">
        <div class="level-item has-text-centered">
          <div>
            <a href="/explore-o-matic" {{#ifEqual mode 'random'}} class="has-text-weight-bold" {{/ifEqual}}>Current
              random objects</a>,
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <a href="/explore-o-matic/constituents" {{#ifEqual mode 'constituents'}} class="has-text-weight-bold"
              {{/ifEqual}}>Constituents</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>