<section class="section">
  <div class="container">
    <form action="/{{selectedLang}}/explore-o-matic" method="POST">
      <div class="field has-addons">
        <div class="control has-icons-left is-expanded">
          <input class="input" type="text" name="query" placeholder="Search objects" value="{{searchQuery}}">
          <span class="icon is-small is-left">
            <i class="fas fa-search" aria-hidden="true"></i>
          </span>
        </div>
        <div class="control">
          <button class="button is-info" type="submit">
            Search
          </button>
        </div>
      </div>
    </form>
    <nav>
      <div class="topExloreMenu">
        <div class="has-text-weight-bold">Filters:</div>
        <div class="">
          <div>
            <a href="/explore-o-matic" {{#ifEqual mode 'recommended'}} class="has-text-weight-bold"
              {{/ifEqual}}>Currently
              recommended objects</a>,
          </div>
        </div>
        <div class="">
          <div>
            <a href="/explore-o-matic/archives" {{#ifEqual mode 'archives'}} class="has-text-weight-bold"
              {{/ifEqual}}>Archives</a>
          </div>
        </div>
        <div class="">
          <div>
            <a href="/explore-o-matic/objects/popular" {{#ifEqual mode 'popular'}} class="has-text-weight-bold"
              {{/ifEqual}}>Popular</a>,
          </div>
        </div>
        <div class="">
          <div>
            <a href="/explore-o-matic/constituents" {{#ifEqual mode 'constituents'}} class="has-text-weight-bold"
              {{/ifEqual}} {{#ifEqual mode 'constituent'}} class="has-text-weight-bold" {{/ifEqual}}>Constituents</a>,
          </div>
        </div>
        <div class="">
          <div>
            <a href="/explore-o-matic/areas" {{#ifEqual mode 'areas'}} class="has-text-weight-bold"
              {{/ifEqual}}>Areas</a>,
          </div>
        </div>
        <div class="">
          <div>
            <a href="/explore-o-matic/categories" {{#ifEqual mode 'categories'}} class="has-text-weight-bold"
              {{/ifEqual}}>Categories</a>,
          </div>
        </div>
        <div class="">
          <div>
            <a href="/explore-o-matic/archivalLevels" {{#ifEqual mode 'archivalLevels'}} class="has-text-weight-bold"
              {{/ifEqual}}>Archival Levels</a>,
          </div>
        </div>
        <div class="">
          <div>
            <a href="/explore-o-matic/mediums" {{#ifEqual mode 'mediums'}} class="has-text-weight-bold"
              {{/ifEqual}}>Mediums</a>,
          </div>
        </div>
        <div class="">
          <div>
            <a href="/explore-o-matic/objectNames" {{#ifEqual mode 'objectNames'}} class="has-text-weight-bold"
              {{/ifEqual}}>Object Names</a>,
          </div>
        </div>
        <div class="">
          <div>
            <a href="/explore-o-matic/objectStatuses" {{#ifEqual mode 'objectStatuses'}} class="has-text-weight-bold"
              {{/ifEqual}}>Object Statuses</a>,
          </div>
        </div>
        <div class="">
          <div>
            <a href="/explore-o-matic/collectionTypes" {{#ifEqual mode 'collectionTypes'}} class="has-text-weight-bold"
              {{/ifEqual}}>Collection Types</a>,
          </div>
        </div>
        <div class="">
          <div>
            <a href="/explore-o-matic/collectionCodes" {{#ifEqual mode 'collectionCodes'}} class="has-text-weight-bold"
              {{/ifEqual}}>Collection/Archive Codes</a>,
          </div>
        </div>
        <div class="">
          <div>
            <a href="/explore-o-matic/collectionNames" {{#ifEqual mode 'collectionNames'}} class="has-text-weight-bold"
              {{/ifEqual}}>Collection Names</a>,
          </div>
        </div>
        <div class="">
          <div>
            <a href="/explore-o-matic/departments" {{#ifEqual mode 'departments'}} class="has-text-weight-bold"
              {{/ifEqual}}>Departments</a>,
          </div>
        </div>
        <div class="">
          <div>
            <a href="/explore-o-matic/styles" {{#ifEqual mode 'styles'}} class="has-text-weight-bold"
              {{/ifEqual}}>Styles</a>,
          </div>
        </div>
        <div class="">
          <div>
            <a href="/explore-o-matic/exhibitions" {{#ifEqual mode 'exhibitions'}} class="has-text-weight-bold"
              {{/ifEqual}} {{#ifEqual mode 'exhibition'}} class="has-text-weight-bold" {{/ifEqual}}>Exhibitions,</a>
          </div>
        </div>
        <div class="">
          <div>
            <a href="/explore-o-matic/colour" {{#ifEqual mode 'colours'}} class="has-text-weight-bold" {{/ifEqual}}
              {{#ifEqual mode 'colour'}} class="has-text-weight-bold" {{/ifEqual}}>Colour</a>
          </div>
        </div>
      </div>
    </nav>

    <nav>
      <div class="topExloreMenu">
        <div class="has-text-weight-bold">Admin controlled:</div>

        <div class="">
          <div>
            <a href="/explore-o-matic/factpedia" {{#ifEqual mode 'factpedia'}} class="has-text-weight-bold"
              {{/ifEqual}}>Factpedia</a>,
          </div>
        </div>
        <div class="">
          <div>
            <a href="/explore-o-matic/randomizer" {{#ifEqual mode 'randomizer'}} class="has-text-weight-bold"
              {{/ifEqual}}>Randomizer</a>,
          </div>
        </div>
        <div class="">
          <div>
            <a href="/explore-o-matic/popularSearches" {{#ifEqual mode 'popularSearches'}} class="has-text-weight-bold"
              {{/ifEqual}}>Popular Searches</a>,
          </div>
        </div>
        <div class="">
          <div>
            <a href="/explore-o-matic/recommendedMissingImages/true" {{#ifEqual mode 'recommendedMissingImages'}}
              class="has-text-weight-bold" {{/ifEqual}}>Recommended objects missing images</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>