{{#ifStartRow @index 3}}
  <div class="tile is-ancestor">
{{/ifStartRow}}
<div class="tile is-parent">
  <article class="tile is-child box" style="color: {{predominant.foreground}}; background:{{predominant.background}}">
    {{#if mainImage}}
      <figure class="image">
        <a href="/explore-o-matic/object/{{id}}"><img
            src="http://res.cloudinary.com/{{cloudname}}/image/upload/v{{mainImage.version}}/{{mainImage.public_id}}.jpg"></a>
      </figure>
      <br />
    {{/if}}
    <p>
      {{#each constituents}}
        <a href="/explore-o-matic/constituent/{{id}}" class="button cardButton" style="background: white">{{name}}</a>
      {{/each}}
    </p>
    <h1 class="title" style="color: inherit"><a href="/explore-o-matic/object/{{id}}"
        style="color: inherit">{{#if title}}{{title}}
        {{else}}&nbsp;{{/if}}{{#if displayDate}},
          {{displayDate}}{{/if}}</a></h1>
    <table class="table is-hoverable is-fullwidth is-striped">
      <tr>
        <td class="has-text-weight-bold" style="width: 25%">title</td>
        {{#unless title}}
          <td class="has-background-danger has-text-white">[Missing title]</td>
        {{else}}
          <td>{{title}}</td>
        {{/unless}}
      </tr>
      <tr>
        <td class="has-text-weight-bold" style="width: 25%">id</td>
        <td>{{id}}</td>
      </tr>
      <tr>
        <td class="has-text-weight-bold" style="width: 25%">objectNumber</td>
        <td>{{objectNumber}}</td>
      </tr>
      <tr>
        <td class="has-text-weight-bold" style="width: 25%">publicAccess</td>
        {{#unless publicAccess}}
          <td class="has-background-danger has-text-white">{{publicAccess}}</td>
        {{else}}
          <td class="has-background-primary has-text-white">{{publicAccess}}</td>
        {{/unless}}
      </tr>
      <tr>
        <td class="has-text-weight-bold">collectionType</td>
        <td>
          {{#if collectionType}}
            <a href="/explore-o-matic/collectionType/{{collectionType}}"
              class="button cardButton">{{collectionType}}</a>
          {{else}}
            &nbsp;
          {{/if}}
        </td>
      </tr>
      <tr>
        <td class="has-text-weight-bold">collectionCode</td>
        <td>
          {{#if collectionCode}}
            <a href="/explore-o-matic/collectionCode/{{collectionCode}}"
              class="button cardButton">{{collectionCode}}</a>
          {{else}}
            &nbsp;
          {{/if}}
        </td>
      </tr>
      <tr>
        <td class="has-text-weight-bold">collectionName</td>
        <td>
          {{#if collectionName}}
            <a href="/explore-o-matic/collectionName/{{collectionName}}"
              class="button cardButton">{{collectionName}}</a>
          {{else}}
            &nbsp;
          {{/if}}
        </td>
      </tr>
      <tr>
        <td class="has-text-weight-bold">archivalLevel</td>
        <td>
          {{#if classification.archivalLevel}}
            {{#each classification.archivalLevel}}

              <a href="/explore-o-matic/archivalLevel/{{stub}}" class="button cardButton">{{title}}</a>
            {{/each}}
          {{else}}
            &nbsp;
          {{/if}}
        </td>
      </tr>
      <tr>
        <td class="has-text-weight-bold">department</td>
        <td>
          {{#if department}}
            <a href="/explore-o-matic/department/{{department}}" class="button cardButton">{{department}}</a>
          {{else}}
            &nbsp;
          {{/if}}
        </td>
      </tr>
      <tr>
        <td class="has-text-weight-bold">style</td>
        <td>
          {{#if style}}
            <a href="/explore-o-matic/style/{{style}}" class="button cardButton">{{style}}</a>
          {{else}}
            &nbsp;
          {{/if}}
        </td>
      </tr>
      <tr>
        <td class="has-text-weight-bold">objectStatus</td>
        <td>
          {{#if objectStatus}}
            <a href="/explore-o-matic/objectStatus/{{objectStatus.stub}}"
              class="button cardButton">{{objectStatus.title}}</a>
          {{else}}
            &nbsp;
          {{/if}}
        </td>
      </tr>
      <tr>
        <td class="has-text-weight-bold">objectName</td>
        <td>
          {{#if objectName}}
            <a href="/explore-o-matic/objectName/{{objectName.stub}}" class="button cardButton">{{objectName.title}}</a>
          {{else}}
            &nbsp;
          {{/if}}
        </td>
      </tr>
      <tr>
        <td class="has-text-weight-bold">medium</td>
        <td>
          {{#if medium}}
            <a href="/explore-o-matic/medium/{{medium.stub}}" class="button cardButton">{{truncate medium.title 24}}</a>
          {{else}}
            &nbsp;
          {{/if}}
        </td>
      </tr>
      <tr>
        <td class="has-text-weight-bold">area</td>
        <td>
          {{#if classification.area}}
            {{#each classification.area}}
              <a href="/explore-o-matic/area/{{stub}}" class="button cardButton">{{title}}</a>
            {{/each}}
          {{else}}
            &nbsp;
          {{/if}}
        </td>
      </tr>
      <tr>
        <td class="has-text-weight-bold">category</td>
        <td>
          {{#if classification.category}}
            {{#each classification.category}}
              <a href="/explore-o-matic/category/{{stub}}" class="button cardButton">{{title}}</a>
            {{/each}}
          {{else}}
            &nbsp;
          {{/if}}
        </td>
      </tr>
      <tr>
        <td class="has-text-weight-bold" style="width: 25%">relatedObjects Count</td>
        <td>{{relatedObjects.length}}</td>
      </tr>
      <tr>
        <td class="has-text-weight-bold" style="width: 25%">popularCount</td>
        <td>{{popularCount}}</td>
      </tr>
    </table>
    <div class="level">
      <a class="button is-link level-item is-centered" href="/explore-o-matic/object/{{id}}">View</a>
    </div>

  </article>
</div>
{{#ifEndRow @index 3}}
  </div>{{/ifEndRow}}