{{#ifStartRow @index 3}}
  <div class="tile is-ancestor">
{{/ifStartRow}}
<div class="tile is-parent">
  <article class="tile is-child box" style="color: {{predominant.foreground}}; background:{{predominant.background}}">
    {{#if mainImage}}
      <figure class="image">
        <a href="/explore-o-matic/object/{{id}}"><img src="http://res.cloudinary.com/{{cloudname}}/image/upload/v{{mainImage.version}}/{{mainImage.public_id}}.jpg"></a>
      </figure>
      <br />
    {{/if}}
    <p>
      {{#each constituents}}
        <a href="/explore-o-matic/constituent/{{id}}" class="button cardButton" style="background: white">{{name}}</a>
      {{/each}}
    </p>
    <h1 class="title" style="color: inherit"><a href="/explore-o-matic/object/{{id}}" style="color: inherit">{{title}}{{#if displayDate}},
          {{displayDate}}{{/if}}</a></h1>
  </article>
</div>
{{#ifEndRow @index 3}}
  </div>{{/ifEndRow}}