<html>

<head>
  <title>Dashboard - config</title>
  {{> head}}
  <link href="/css/prism.css" rel="stylesheet" />
</head>

<body>

  {{> nav}}

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title capitalise is-1">
          {{i18n.config.config}}
        </h1>
        <h2 class="subtitle is-3">
          {{i18n.config.intro}}
        </h2>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">

      <h1 class="title">
        <a name="handshake" class="hidename">Handshake</a>
      </h1>
      <p>
        If your app needs to communicate with the Dashboard you should store the handshake value in your own
        <code>.env</code>,
        <code>config</code> or other environment settings that are
        <em>
          <strong>not stored in git.</strong>
        </em>
      </p>
      <p>
        <div class="card">
          <header class="card-header">
            <p class="card-header-title"> Handshake token
            </p>
          </header>
          <div class="card-content has-text-centered is-size-3 has-text-weight-semibold">{{config.handshake}}</div>
        </div>
      </p>
      <hr />
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title">
        <a name="graphql" class="hidename">GraphQL</a>
      </h1>
      {{#if config.graphql}}
        <p>
          Congratulations graphQL has been set up, visit it here:
          <a href="{{config.graphql.host}}/{{user.apitoken}}/playground">{{config.graphql.host}}/{{user.apitoken}}/playground</a>,
          or check its <a href="/developer/graphql/status">status here</a>.
        </p>
        <p>
          You can reconfigure it below if needed.
        </p>
      {{else}}
        <p>
          You need to set GraphQL up, you can check out the repository from here
          <a href="https://github.com/wcmaart/api">https://github.com/wcmaart/api</a>, follow the instructions found
          there to get things up and running. Once you have
          it running enter the host URL in the form below.
        </p>
        <p>
          {{#ifEqual NODE_ENV 'development'}} This will probably be something like
            <code>http://localhost:4000</code>
      {{else}} This will be your domain URL that you've exposed as your graphQL server, you should
        <em>not</em> include the
        <code>/graphql</code> path, we will add that. For example...
        <br /> Yes:
        <code>https://somedomain.com</code>
        <br /> No:
        <code>https://somedomain.com/graphql</code>. {{/ifEqual}}
        </p>
      {{/if}}

      <form method="post">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">GraphQL</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" type="text" name="graphql" placeholder="{{#ifEqual NODE_ENV 'development'}}http://localhost:4000{{else}}https://domain.com{{/ifEqual}}"
                  {{#if config.graphql.host}} value="{{config.graphql.host}}" {{/if}}>
              </p>
            </div>
          </div>
        </div>
        <div class="level">
          <div class="level-left">
            <div class="level-item">&nbsp;</div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <p class="control">
                <button class="button is-primary" type="submit" value="updategraphql" name="action">Update</button>
              </p>
            </div>
          </div>
        </div>
      </form>
      <hr />
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title">
        <a name="elasticsearch" class="hidename">Elastic Search</a>
      </h1>
      {{#if config.elasticsearch}}
        <p>
          Congratulations ElasticSearch has been set up
        </p>
        <p>
          You can reconfigure it below if needed.
        </p>
      {{/if}}
      <form method="post">

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Elastic Search</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" type="text" name="elasticsearch" placeholder="{{#ifEqual NODE_ENV 'development'}}http://localhost:9200{{else}}https://domain.com{{/ifEqual}}"
                  {{#if config.elasticsearch.host}} value="{{config.elasticsearch.host}}" {{/if}}>
              </p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Interval in ms</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" type="text" name="interval" placeholder="20000"
                  {{#if config.timers.elasticsearch}} value="{{config.timers.elasticsearch}}" {{/if}}>
              </p>
              <p>
                <strong>Note:</strong> This sets the intervals in the cycle of checking for items that need sending
                to the database
                and sending them. When the system is running normally with a few regular updates this just be set
                to
                something
                low like 20000 (the default 20 seconds) or even 60000 (once a minute). When we are first importing
                a
                large
                number of items you should let it run for an hour and then check the
                <a href="/stats/logs#upserts">logs page</a> for the average upload speed, then set the interval to
                around 1000 ms longer than the average.
                You can see the estimated item upserting time on the
                <a href="/stats">stats page</a>.
              </p>
            </div>
          </div>
        </div>
        <div class="level">
          <div class="level-left">
            <div class="level-item">&nbsp;</div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <p class="control">
                <button class="button is-primary" type="submit" value="updateelasticsearch" name="action">Update</button>
              </p>
            </div>
          </div>
        </div>
      </form>
      <hr />
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title">
        <a name="spelunker" class="hidename">Spelunker</a>
      </h1>
      {{#if config.spelunker}}
        <p>
          Congratulations the Spelunker has been set up
        </p>
        <p>
          You can reconfigure it below if needed.
        </p>
      {{/if}}
      <form method="post">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Spelunker</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" type="text" name="spelunker" placeholder="{{#ifEqual NODE_ENV 'development'}}http://localhost:4001{{else}}https://spelunker.com{{/ifEqual}}"
                  {{#if config.spelunker.host}} value="{{config.spelunker.host}}" {{/if}}>
              </p>
            </div>
          </div>
        </div>
        <div class="level">
          <div class="level-left">
            <div class="level-item">&nbsp;</div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <p class="control">
                <button class="button is-primary" type="submit" value="updatespelunker" name="action">Update</button>
              </p>
            </div>
          </div>
        </div>
      </form>
      <hr />
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title">
        <a name="tms" class="hidename">TMS</a></h1>
      {{#if config.tms}}
        <p>
          These are your current TMS setups.
        </p>
        {{#each config.tms}}
          <p>
            <h2 class="title is-5">TMS: <strong>{{stub}}</strong></h2>
          </p>
          <form method="post">
            <input type="hidden" name="tmsstub" value="{{stub}}">
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">XML file location</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    <input class="input" type="text" name="filepath" placeholder="Full local path to filename, including the filename"
                      value="{{filepath}}">
                  </p>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Media files location</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    <input class="input" type="text" name="imagePath" placeholder="Full local path to the root directory holding the images"
                      value="{{imagePath}}">
                  </p>
                </div>
              </div>
            </div>
            <div class="level">
              <div class="level-left">
                <div class="level-item">&nbsp;</div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <p class="control">
                    <button class="button is-primary" type="submit" value="updatetms" name="action">Update</button>
                    <button class="button  is-danger" type="submit" value="deletetms" name="action">Remove</button>
                  </p>
                </div>
              </div>
            </div>
          </form>
        {{/each}}
      {{else}}
      {{/if}}
      <p>
        Please use the form below to register a new TMS system.
      </p>
      <form method="post">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Short name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" type="text" name="tmsstub" placeholder="i.e. a stub like 'mplus', for use in urls"
                  value="">
              </p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">XML file location</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" type="text" name="filepath" placeholder="Full local path to filename, including the filename"
                  value="">
              </p>
            </div>
          </div>
        </div>
        <div class="level">
          <div class="level-left">
            <div class="level-item">&nbsp;</div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <p class="control">
                <button class="button is-primary" type="submit" value="updatetms" name="action">Add</button>
              </p>
            </div>
          </div>
        </div>
      </form>
      {{!---
      <tr>
        <td>Url endpoint</td>
        <td>
          <input type="text" name="tmsurl" placeholder="http://tmssystem.somename.com" value="">
        </td>
      </tr>
      <tr>
        <td>eMuseum Key</td>
        <td>
          <input type="text" name="key" placeholder="a1b2c3d4e5f6g7h8i9j0" value="">
        </td>
      </tr>
      ---}}
      <hr />
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title">
        <a name="cloudinary" class="hidename">Cloudinary</a>
      </h1>
      <p>
        We are currently using
        <a href="https://cloudinary.com">Cloudinary</a> to host images (they are ultimately stored on S3), you will
        need to set up a free cloudinary account
        and add your credentials here.
      </p>
      <form method="post">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Cloud name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" type="text" name="cloud_name" placeholder="Example: mytmsimagehost"
                  {{#if config.cloudinary.cloud_name}} value="{{config.cloudinary.cloud_name}}" {{/if}}>
              </p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">API key</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" type="text" name="api_key" placeholder="Example: 5551234567890"
                  {{#if config.cloudinary.api_key}} value="{{config.cloudinary.api_key}}" {{/if}}>
              </p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">API secret</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" type="text" name="api_secret" placeholder="Example: abCD12-3Fg4Hixyz"
                  {{#if config.cloudinary.api_secret}} value="{{config.cloudinary.api_secret}}" {{/if}}>
              </p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Interval in ms</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" type="text" name="interval" placeholder="20000" {{#if config.timers.cloudinary}}
                  value="{{config.timers.cloudinary}}" {{/if}}>
              </p>
              <p>
                <strong>Note:</strong> This sets the intervals in the cycle of checking for images that need
                uploading and uploading
                them. When the system is running normally with a few regular updates this just be set to something
                low
                like 20000 (the default 20 seconds) or even 60000 (once a minute). When we are first importing a
                large
                number of items you should let it run for an hour and then check the
                <a href="/stats/logs#images">logs page</a> for the average upload speed, then set the interval to
                around 1000 ms longer than the average.
                You can see the estimated image uploading time on the
                <a href="/stats">stats page</a>.
              </p>
            </div>
          </div>
        </div>
        <div class="level">
          <div class="level-left">
            <div class="level-item">&nbsp;</div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <p class="control">
                <button class="button is-primary" type="submit" value="updatecloudinary" name="action">Update</button>
              </p>
            </div>
          </div>
        </div>
      </form>
      <hr />
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title">
        <a name="intercom" class="hidename">Intercom Chat Widget</a>
      </h1>
      <p>
        You can optionally use <a href="https://www.intercom.com/">Intercom</a> to enable "admin" and "staff"
        dashboard
        users to communicate with you via the Intercom chat widget. You will need to create an Intercom account to
        get
        a valid Intercom App Id. Add that here and the widget will display in the bottom right corner for admin and
        staff users.
      </p>

      {{#if config.intercom.appId}}
        <p>
          Congratulations Intercom has been set up
        </p>
        <p>
          You can reconfigure it below if needed.
        </p>
      {{/if}}
      <form method="post">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Intercom App Id</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" type="text" name="intercomappid" placeholder="Example: abcdwxyz"
                  {{#if config.intercom.appId}} value="{{config.intercom.appId}}" {{/if}}>

              </p>
            </div>
          </div>
        </div>
        <div class="level">
          <div class="level-left">
            <div class="level-item">&nbsp;</div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <p class="control">
                <button class="button is-primary" type="submit" value="updateintercomappid" name="action">Update</button>
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>


  {{> tail}}
</body>

</html>