<html>

<head>
  <title>Dashboard - admin</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title capitalise is-1">
          Translations
        </h1>
        <h2 class="subtitle is-3">
          Please select a site you want to manage the translations for from the list below
        </h2>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container documentation">
      <ul>
        <li>
          <a href="/admin/translations/collection">Collection site</a>
        </li>
      </ul>
      <hr />
    </div>
  </section>

  {{> tail}}
</body>

</html>