body {
  background: #fff;
  color: #111;
  font-family: sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
  &.cover {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .container {
    background: white;
    margin-top: 4em;
    padding: 1em;
    font-size: 2rem !important;
    h1 {
      margin-top: 0;
    }
    p {
      font-size: 1.8rem;
      line-height: 2rem;
    }
    .welcome {
      text-align: center;
    }
  }
  table {
    &.admin {
      width: 100%;
    }
  }
}

a {
  text-decoration: none;
}

nav {
  &.header {
    background-color: #0d47a1;
    color: white;
  }
  .nav-wrapper {
    min-height: 64px;
    height: auto;
    position: relative;
    line-height: 64px;
    .brand-logo {
      color: #fff;
      display: inline-block;
      font-size: 2.1rem;
      padding: 0;
      &.left {
        float: left;
        padding-left: 0.5em;
        padding-right: 0.5em;
      }
    }
    a {
      -webkit-transition: background-color 0.3s;
      -o-transition: background-color 0.3s;
      transition: background-color 0.3s;
      font-size: 1rem;
      color: #fff;
      display: block;
      padding: 0 15px;
      cursor: pointer;
      &:hover {
        background-color: #039be5;
      }
    }
    ul {
      padding-left: 0;
      list-style-type: none;
      float: left;
      margin: 0;
      li {
        list-style-type: none;
        transition: background-color 0.3s;
        float: left;
        padding: 0;
        box-sizing: inherit;
      }
    }
    img {
      &.avatar {
        margin-top: 7px;
        padding-right: 15px;
        vertical-align: top;
        width: 50px;
      }
    }
  }
}

.connections {
  background: #fcfcfc;
  min-height: 32px;
  line-height: 32px;
  height: auto;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #039be5;
  font-size: 0.8em;
  .graphQL {
    float: right;
    margin-right: 2em;
  }
  .elasticSearch {
    float: right;
    margin-right: 2em;
    cursor: pointer;
    .alert {
      color: red;
      font-weight: bold;
    }
    .warn {
      color: orange;
      font-weight: bold;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  p {
    font-size: 1.125rem;
    line-height: 2rem;
  }
  a {
    color: #039be5;
  }
  table.dataDump {
    width: 100%;
    display: block;
    overflow: hidden;
    tbody {
      overflow: hidden;
      display: block;
      tr {
        overflow: hidden;
        display: block;
        td {
          width: 47%;
          vertical-align: top;
          margin: 1%;
          overflow: hidden;
          display: inline-block;
          div.boxme {
            background: #eee;
            border: 1px solid #ccc;
            border-radius: 3px;
            height: 40em;
            overflow: scroll;
            pre {
              padding: 6px;
              overflow: scroll;
            }
          }
          ul {
            list-style: none;
            li {
              float: none;
              width: 100%;
              line-height: 1.8em;
            }
          }
        }
      }
    }
  }
  ul {
    padding-left: 0;
    list-style-type: none;
    li {
      width: 33.33333%;
      margin-left: auto;
      left: auto;
      right: auto;
      float: left;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 0.75rem;
      min-height: 1px;
      .card {
        height: 500px;
        position: relative;
        margin: 0.5rem 0 1rem 0;
        background-color: #fff;
        -webkit-transition: -webkit-box-shadow 0.25s;
        transition: -webkit-box-shadow 0.25s;
        -o-transition: box-shadow 0.25s;
        transition: box-shadow 0.25s;
        transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
        border-radius: 2px;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        .card-content {
          padding: 24px;
          border-radius: 0 0 2px 2px;
          p {
            margin: 0;
            color: inherit;
          }
          .card-title {
            font-size: 20px;
            line-height: 1.2;
            display: block;
            margin-bottom: 8px;
            font-weight: 300;
          }
          .card-image {
            height: 300px;
            text-align: center;
            .image {
              min-width: 100%;
              min-height: 100%;
              max-width: 100%;
              max-height: 100%;
              background-size: cover;
              background-position: center;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
  .missing-data {
    display: inline-block;
    background: pink;
    color: red;
    font-family: monospace;
    font-size: 12px;
  }
  &.admin-layout {
    code {
      font-weight: bold;
      font-size: 1.2em;
    }
    table {
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 6px;
      padding: 1em;
      background: #f9f9f9;
      th {
        text-align: left;
        &.span {
          text-align: center;
        }
      }
      td {
        &.error {
          color: red;
        }
      }
      input[type='text'] {
        width: 100%;
        font-size: 1.2em;
        padding: 8px;
      }
      button {
        font-size: 1.2em;
        padding: 8px;
        background: #0d47a1;
        color: white;
        border: none;
        border-radius: 6px;
        transition: background-color 0.3s;
        cursor: pointer;
        &:hover {
          background-color: #039be5;
        }
      }
      .progress-back,
      .progress-front {
        height: 100%;
        width: 100%;
        background: white;
        border: 1px solid #eee;
        border-radius: 4px;
        position: absolute;
        top: 0;
        left: 0;
        line-height: 20px;
        font-size: 0.9em;
      }
      .progress-front {
        background: #039be5;
        overflow: hidden;
        width: 0%;
        color: white;
      }
    }
  }
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 933px) {
  .container {
    width: 70%;
  }
}

.right {
  float: right !important;
}