{
  "elasticsearch": {
    "host": "localhost:9200"
  },
  "graphql": {
    "host": "localhost:3000"
  },
  "xmlPath": "app/data/xml",
  "xml": [
    {
      "file": "[filename].xml",
      "index": "objects",
      "type": "object"
    }
  ],
  "onLambda": false
}
