{
  "elasticsearch": {
    "host": "localhost:9200"
  },
  "graphql": {
    "host": "localhost:3000"
  },
  "xml": [
    {
      "file": "[filename].xml",
      "index": "objects",
      "type": "object"
    },
    {
      "file": "[filename2].xml",
      "index": "artists",
      "type": "artist"
    }
  ],
  "onLambda": false,
}
