<html>

<head>
  <title>Dashboard - explore-o-matic</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title capitalise is-1">
          Explore-o-matic - Archives
        </h1>
        <h2 class="subtitle is-3">
          Here are all the different archives.
        </h2>
      </div>
    </div>
  </section>

  {{> exploreomatic/nav}}

  {{#if archives}}
    <section class="section">
      <div class="container">
        {{#each objects}}
          {{> exploreomatic/archivecard @this cloudname=../config.cloudinary.cloud_name}}
        {{/each}}
      </div>
    </section>
  {{/if}}

  <section class="section">
    <div class="container">
      <hr />
      <pre class="query language-graphql">{{{query}}}</pre>
    </div>
  </section>

  {{> tail}}
</body>

</html>