<html>

<head>
  <title>Dashboard - explore-o-matic</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title capitalise is-1">
          Explore-o-matic - Archival Levels
        </h1>
        <h2 class="subtitle is-3">
          Here are all the different "Archival Levels" connected to objects.
        </h2>
      </div>
    </div>
  </section>

  {{> exploreomatic/nav}}

  {{#if archivalLevels}}
    <section class="section">
      <div class="container">
        {{#each archivalLevels}}
          <a href="/explore-o-matic/archivalLevel/{{stub}}" class="button cardButton">{{title}}</a>
        {{/each}}
      </div>
    </section>
  {{/if}}

  <section class="section">
    <div class="container">
      <hr />
      <pre class="query language-graphql">{{{query}}}</pre>
    </div>
  </section>

  {{> tail}}
</body>

</html>