<html>

<head>
  <title>Dashboard - explore-o-matic</title>
  {{> head}}
  <link href="/css/prism.css" rel="stylesheet" />
</head>

<body>

  {{> nav}}

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title capitalise is-1">
          Explore-o-matic
        </h1>
        <h2 class="subtitle is-3">
          Colour
        </h2>
      </div>
    </div>
  </section>

  {{> exploreomatic/nav}}

  <section class="section">
    <div class="container">
      <canvas id="palette_canvas" width="360" height="200" style="width:100%; height: 200px"></canvas>
    </div>
  </section>

  <section class="section">
    <div class="container">
      {{#each objects}}
        {{> exploreomatic/objectcard @this cloudname=../config.cloudinary.cloud_name}}
      {{/each}}
    </div>
  </section>

  <section class="section">
    <div class="container">
      <hr />
      <pre class="query language-graphql">{{{query}}}</pre>
    </div>
  </section>

  {{> tail}}
  <script src="/js/hslpalette.js"></script>
  {{{pickedScript}}}
</body>

</html>