<html>

<head>
  <title>Dashboard - explore-o-matic</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title capitalise is-1">
          Explore-o-matic - Constituents
        </h1>
        <h2 class="subtitle is-3">
          Here are all the constituents, you can filter them further by role type.
        </h2>
      </div>
    </div>
  </section>

  {{> exploreomatic/nav}}

  {{#if makertypes}}
    <section class="section" style="padding-top:0; margin-top: -2.5rem">
      <div class="container">
        {{#each makertypes}}
          {{#ifEqual ../thisMakerType stub}}
            <a href="/explore-o-matic/constituents" class="button cardButton selected">{{../title}}</a>
        {{else}}
          <a href="/explore-o-matic/constituents/{{../stub}}" class="button cardButton">{{../title}}</a>
          {{/ifEqual}}
        {{/each}}
      </div>
    </section>
  {{/if}}

  <section class="
            section">
    <div class="container">
      {{#each alphaSorted}}
        <div>
          <span class="title capitalise">{{@key}}</span>
          {{#each @this}}
            <a href="/explore-o-matic/constituent/{{id}}" class="button cardButton" style="background: white">{{name}}</a>
          {{/each}}
        </div>
      {{/each}}
    </div>
  </section>

  {{> tail}}
</body>

</html>