<html>

<head>
  <title>Dashboard - explore-o-matic</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title capitalise is-1">
          Explore-o-matic
        </h1>
        <h2 class="subtitle is-3">
          The place where we can see the results of various API calls
        </h2>
      </div>
    </div>
  </section>

  {{> exploreomatic/nav}}

  <section class="section">
    <div class="container">
      {{#each alphaSorted}}
        <div>
          <span class="title capitalise">{{@key}}</span>
          {{#each @this}}
            <a href="/constituent/{{id}}" class="button cardButton" style="background: white">{{name}}</a>
          {{/each}}
        </div>
      {{/each}}
    </div>
  </section>

  {{> tail}}
</body>

</html>