<html>

<head>
  <title>Dashboard - explore-o-matic</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title capitalise is-1">
          Explore-o-matic
        </h1>
        <h2 class="subtitle is-3">
          The place where we can see the results of various API calls
        </h2>
      </div>
    </div>
  </section>

  {{> exploreomatic/nav}}

  <section class="section">
    <div class="container">
      {{#each objects}}
        {{> exploreomatic/objectcard @this cloudname=../config.cloudinary.cloud_name}}
      {{/each}} </div>
  </section>

  {{>exploreomatic/pagination}}

  {{#if timing}}
    <section class="section">
      <div class="container">
        <hr />
        <h1 class="title">Page generation timings</h1>
        <table class="table">
          <tr>
            <td>Total generation time</td>
            <td>{{prettyNumber timing.pageGenerationTime}}ms</td>
          </tr>
          <tr>
            <td>Total time spend on queries</td>
            <td>{{prettyNumber timing.totalQueryTime}}ms</td>
          </tr>
          <tr>
            <td>Total time doing other stuff</td>
            <td>{{prettyNumber timing.totalNotQueryTime}}ms</td>
          </tr>
          <tr>
            <td>Getting the objects query</td>
            <td>{{prettyNumber timing.getObjectsQuery}}ms</td>
          </tr>
          {{#ifgt timing.getNotObjectQuery 0}}
            <tr>
              <td>Getting NOT objects query</td>
              <td>{{prettyNumber ../timing.getNotObjectQuery}}ms</td>
            </tr>
          {{/ifgt}}
          {{#ifgt timing.getYesObjectQuery 0}}
            <tr>
              <td>Getting YES objects query</td>
              <td>{{prettyNumber ../timing.getYesObjectQuery}}ms</td>
            </tr>
          {{/ifgt}}
        </table>
      </div>
    </section>
  {{/if}}
  <section class="section">
    <div class="container">
      <hr />
      <pre class="query language-graphql">{{{query}}}</pre>
    </div>
  </section>

  {{> tail}}
</body>

</html>