<html>

<head>
  <title>Dashboard - explore-o-matic</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title capitalise is-1">
          Explore-o-matic
        </h1>
        <h2 class="subtitle is-3">
          Objects
        </h2>
      </div>
    </div>
  </section>

  {{> exploreomatic/nav}}

  {{#if constituent}}{{> exploreomatic/constituentHeader}}{{/if}}
  {{#if exhibition}}{{> exploreomatic/exhibitionHeader}}{{/if}}

  <section class="section">
    <div class="container">
      {{#each objects}}
        {{> exploreomatic/objectcard @this cloudname=../config.cloudinary.cloud_name}}
      {{/each}} </div>
  </section>

  <section class="section">
    <div class="container">
      <nav class="pagination is-right" role="navigation" aria-label="pagination">
        <a href="{{pagination.target}}{{pagination.previousPage}}" class="pagination-previous"
          {{#unless pagination.showPrevious}} disabled{{/unless}}>Previous </a> <a href="{{pagination.target}}{{pagination.nextPage}}"
          class="pagination-next" {{#unless pagination.showNext}} disabled{{/unless}}>Next page</a> <ul class="pagination-list">
          {{#if pagination.showStartEllipses}}
            <li><a href="{{pagination.target}}1" class="pagination-link" aria-label="Goto page 1">1</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
          {{/if}}
          {{#each pagination.pageLoop}}
            <li><a href="{{../pagination.target}}{{@this}}" class="pagination-link{{#ifEqual @this ../pagination.page}} is-current{{/ifEqual}}"
                aria-label="Goto page {{@this}}" {{#ifEqual @this ../pagination.page}} aria-current="page" {{/ifEqual}}>{{@this}}</a></li>
          {{/each}}
          {{#if pagination.showEndEllipses}}
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a href="{{pagination.target}}{{pagination.maxPage}}" class="pagination-link" aria-label="Goto page {{pagination.maxPage}}">{{pagination.maxPage}}</a></li>
          {{/if}}
          </ul>
      </nav>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <hr />
      <pre class="query language-graphql">{{{query}}}</pre>
    </div>
  </section>

  {{> tail}}
</body>

</html>