<html>

<head>
  <title>Dashboard - explore-o-matic</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title capitalise is-1">
          Explore-o-matic
        </h1>
        <h2 class="subtitle is-3">
          Objects
        </h2>
      </div>
    </div>
  </section>

  {{> exploreomatic/nav}}

  <section class="section">
    <div class="container">
      {{#each objects}}
        {{> exploreomatic/objectcard @this cloudname=../config.cloudinary.cloud_name}}
      {{/each}} </div>
  </section>

  {{> tail}}
</body>

</html>