<html>

<head>
  <title>Dashboard - explore-o-matic</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title capitalise is-1">
          {{title}}
        </h1>
        <h2 class="subtitle is-3">
          {{subTitle}}
        </h2>
      </div>
    </div>
  </section>

  {{> exploreomatic/nav}}

  {{#if constituent}}{{> exploreomatic/constituentHeader}}{{/if}}
  {{#if exhibition}}{{> exploreomatic/exhibitionHeader}}{{/if}}

  <section class="section">
    <div class="container">
      {{#each objects}}
        {{> exploreomatic/objectcard @this cloudname=../config.cloudinary.cloud_name}}
      {{/each}} </div>
  </section>

  {{>exploreomatic/pagination}}

  <section class="section">
    <div class="container">
      <hr />
      <pre class="query language-graphql">{{{query}}}</pre>
    </div>
  </section>

  {{> tail}}
</body>

</html>