<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>M+ Dash | Developer Tools</title>
  <link href="/css/main.css" rel="stylesheet" />
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
</head>

<body>

  {{> nav}} {{> connections}}

  <div class="container admin-layout">
    <div>

      <h1>Looking for "{{field}}" in {{index}}</h1>

      <p>
        Below is a random selection of records that have a valid match for the
        <strong>"{{field}}"</strong> field, handy if you want to check that you're fetching, parsing and displaying certain fields
        and testing if the system is including the field. Click on an item to see the full details.
      </p>
      <p>Showing {{winningIds.length}} random {{#ifEqual winningIds.length 1}}record{{else}}records{{/ifEqual}} out of {{prettyNumber
        totalRecords}} matches.
      </p>
      <p>
        <ul class="column3">
          {{#each winningIds}}
          <li>
            <a href="/view/{{../index}}/{{@this}}">{{@this}}</a>
          </li>
          {{/each}}
        </ul>
      </p>
      <p>
        Searched in {{ms}}ms
      </p>
    </div>
  </div>

  {{> tail}}

</body>

</html>