<html>

<head>
  <title>Dashboard - {{i18n.documentation.documentation}}</title>
  {{> head}}
  <link href="/css/prism.css" rel="stylesheet" />
</head>

<body>

  {{> nav}}

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title capitalise is-1">
          {{i18n.documentation.documentation}}
        </h1>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container documentation">

      <p>
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">API token
            </p>
          </header>
          <div class="card-content has-text-centered is-size-3 has-text-weight-semibold">{{user.apitoken}}</div>
        </div>
      </p>


      <p class="note">
        {{{i18n.documentation.note}}}
      </p>
      <hr>

      <h1 class="title">{{i18n.documentation.TOC}}</h1>
      <p>
        <ul class="toc">
          <li>
            <a href="#about-graphql">{{i18n.documentation.about-graphql}}</a>
            <ul>
              <li>
                <a href="#communicating-with-graphql">{{i18n.documentation.communicating-with-graphql}}</a>
              </li>
              <li>
                <a href="#graphql-playground">{{i18n.documentation.graphql-playground}}</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#graphql-queries">{{i18n.documentation.graphql-queries}}</a>
            <ul>
              <li>
                <a href="#introspection">{{i18n.documentation.introspection}}</a>
              </li>
              <li>
                <a href="#objects">{{i18n.documentation.objects}}</a>
                <ul>
                  <li>
                    <a href="#paginationandfilter">{{i18n.documentation.paginationandfilter}}</a>
                  </li>
                  <li>
                    <a href="#sorting">{{i18n.documentation.sorting}}</a>
                  </li>
                  <li>
                    <a href="#fetchingbyids">{{i18n.documentation.fetchingbyids}}</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#object">{{i18n.documentation.object}}</a>
              </li>
              <li>
                <a href="#areas">{{i18n.documentation.areas}}</a>
              </li>
              <li>
                <a href="#categories">{{i18n.documentation.categories}}</a>
              </li>
              <li>
                <a href="#mediums">{{i18n.documentation.mediums}}</a>
              </li>
              <li>
                <a href="#constituents">{{i18n.documentation.constituents}}</a>
                <ul>
                  <li>
                    <a href="#constituents-paginationandfilter">{{i18n.documentation.paginationandfilter}}</a>
                  </li>
                  <li>
                    <a href="#constituents-sorting">{{i18n.documentation.sorting}}</a>
                  </li>
                  <li>
                    <a href="#constituents-fetchingbyids">{{i18n.documentation.fetchingbyids}}</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#constituent">{{i18n.documentation.constituent}}</a>
              </li>
              <li>
                <a href="#nesting">{{i18n.documentation.nesting}}</a>
              </li>
              <li>
                <a href="#objects-connected-constituent">{{i18n.documentation.objects-connected-constituent}}</a>
              </li>
            </ul>
          </li>
        </ul>

        {{#if showVendor}}
        <h1 class="title">Sigg Online</h1>
        <p>
          <ul class="toc">
            <li>
              <a href="#sigg-online">How to get started with Exhibitions and so on</a>
            </li>
          </ul>

        </p>
        {{/if}}
      </p>

      <hr>

      <h2 class="title is-3">
        <a class="hidename" name="about-graphql">{{i18n.documentation.about-graphql}}</a>
      </h2>

      <p>
        {{{i18n.documentation.graphql-about-1}}}
      </p>
      <p>
        {{{i18n.documentation.graphql-about-2}}}
      </p>
      <p>
        {{i18n.documentation.graphql-about-3}}
      </p>


      <h3 class="title is-4">
        <a class="hidename" name="communicating-with-graphql">{{i18n.documentation.communicating-with-graphql}}</a>
      </h3>

      <p>
        {{{i18n.documentation.graphql-communicating-1}}}
      </p>
      <p>
        <code>{{config.graphql.host}}/graphql</code>
      </p>
      <p>
        {{{i18n.documentation.graphql-communicating-2}}}
      </p>
      <p class="runinexplore">
        <a href='{{exploreQuery queries.hello "" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.hello ''}}}</pre>

      <p>
        {{{i18n.documentation.graphql-communicating-3}}}
      </p>
      <p>
        <pre class="query terminal">{{{curlQuery queries.hello '' config.graphql.host user.apitoken}}}</pre>
      </p>
      <p>
        {{{i18n.documentation.graphql-communicating-4}}}
      </p>
      <p>
        <pre class="query node">{{{nodeQuery queries.hello '' config.graphql.host user.apitoken}}}</pre>
      </p>

      <h3 class="title is-4">
        <a class="hidename" name="graphql-playground">{{i18n.documentation.graphql-playground}}</a>
      </h3>
      <p>
        {{{i18n.documentation.graphql-communicating-5}}}
        <a href="{{config.graphql.host}}/playground">{{config.graphql.host}}/playground</a>
      </p>

      <p>
        {{{i18n.documentation.graphql-communicating-6}}}
        <a href='{{exploreQuery queries.objectsMedium "" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>

      <hr>

      <h2 class="title is-3">
        <a class="hidename" name="graphql-queries">{{i18n.documentation.graphql-queries}}</a>
      </h2>

      <p>
        {{{i18n.documentation.graphql-communicating-7}}}
      </p>

      <h2 class="title is-3">
        <a class="hidename" name="introspection">{{i18n.documentation.introspection}}</a>
      </h2>

      <p>
        {{{i18n.documentation.graphql-introspection-1}}}
      </p>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.schema "" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>

      <pre class="query">{{{graphQLQuery queries.schema}}}</pre>

      <p>
        {{{i18n.documentation.graphql-introspection-2}}}
      </p>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.type "(name:\"Object\")" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>

      <pre class="query">{{{graphQLQuery queries.type '(name: "Object")'}}}</pre>

      <hr />

      <h3 class="title is-4">
        <a class="hidename" name="objects">{{i18n.documentation.objects}}</a>
      </h3>

      <p>
        {{{i18n.documentation.graphql-objects-1}}}
      </p>

      <p>{{{i18n.documentation.graphql-objects-2}}}
      </p>

      <p>
        {{{i18n.documentation.graphql-objects-3}}}
      </p>

      <p>
        {{{i18n.documentation.valid-lang}}}
      </p>

      <h3 class="title is-4">
        {{{i18n.documentation.graphql-objects-5}}}
      </h3>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.objectsMini "" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.objectsMini ''}}}</pre>

      <p>
        {{i18n.documentation.curl}}
      </p>
      <p>
        <pre class="query terminal">{{{curlQuery queries.objectsMini '' config.graphql.host user.apitoken}}}</pre>
      </p>

      <p>
        {{i18n.documentation.nodejs}}
      </p>
      <p>
        <pre class="query node">{{{nodeQuery queries.objectsMini '' config.graphql.host user.apitoken}}}</pre>
      </p>

      <h3 class="title is-4">
        <a class="hidename" name="paginationandfilter">{{i18n.documentation.paginationandfilter}}</a>
      </h3>

      <p>
        {{{i18n.documentation.object-pagination}}}
      </p>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.objectsMedium "(page:0, per_page: 5, area: \"Moving Image\")" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.objectsMedium '(page:0, per_page: 5, area: "Moving Image")'}}}</pre>

      <p>
        {{i18n.documentation.curl}}
      </p>
      <p>
        <pre class="query terminal">{{{curlQuery queries.objectsMedium '(page:0, per_page: 5, area: \\\"Moving Image\\\")' config.graphql.host user.apitoken}}}</pre>
      </p>

      <p>
        {{i18n.documentation.nodejs}}
      </p>
      <p>
        <pre class="query node">{{{nodeQuery queries.objectsMedium '(page:0, per_page: 5, area: "Moving Image")' config.graphql.host user.apitoken}}}</pre>
      </p>

      <h3 class="title is-4">
        <a class="hidename" name="sorting">{{i18n.documentation.sorting}}</a>
      </h3>

      <p>
        {{{i18n.documentation.object-sort-example}}}
      </p>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.objectsLarge "(sort_field: \"sortNumber\", sort: \"asc\")" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.objectsLarge '(sort_field: "sortNumber", sort: "asc")'}}}</pre>

      <p>
        {{i18n.documentation.curl}}
      </p>
      <p>
        <pre class="query terminal">{{{curlQuery queries.objectsLarge '(sort_field: \\\"sortNumber\\\", sort: \\\"asc\\\")' config.graphql.host user.apitoken}}}</pre>
      </p>

      <p>
        {{i18n.documentation.nodejs}}
      </p>
      <p>
        <pre class="query node">{{{nodeQuery queries.objectsLarge '(sort_field: "sortNumber", sort: "asc")' config.graphql.host user.apitoken}}}</pre>
      </p>

      <h3 class="title is-4">
        <a class="hidename" name="fetchingbyids">{{i18n.documentation.fetchingbyids}}</a>
      </h3>

      <p>
        {{{i18n.documentation.object-by-ids-example}}}
      </p>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.objectsMedium "(ids:[1, 4, 6, 7])" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.objectsMedium '(ids:[1, 4, 6, 7])'}}}</pre>

      <p>
        {{i18n.documentation.curl}}
      </p>
      <p>
        <pre class="query terminal">{{{curlQuery queries.objectsMedium '(ids:[1, 4, 6, 7])' config.graphql.host user.apitoken}}}</pre>
      </p>

      <p>
        {{i18n.documentation.nodejs}}
      </p>
      <p>
        <pre class="query node">{{{nodeQuery queries.objectsMedium '(ids:[1, 4, 6, 7])' config.graphql.host user.apitoken}}}</pre>
      </p>

      <hr />

      <h3 class="title is-4">
        <a class="hidename" name="object">{{i18n.documentation.object}}</a>
      </h3>

      <p>
        {{{i18n.documentation.object-1}}}
      </p>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.objectLarge "(id: 3000)" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.objectLarge '(id: 3000)'}}}</pre>

      <p>
        {{i18n.documentation.curl}}
      </p>
      <p>
        <pre class="query terminal">{{{curlQuery queries.objectLarge '(id: 3000)' config.graphql.host user.apitoken}}}</pre>
      </p>

      <p>
        {{i18n.documentation.nodejs}}
      </p>
      <p>
        <pre class="query node">{{{nodeQuery queries.objectLarge '(id: 3000)' config.graphql.host user.apitoken}}}</pre>
      </p>

      <hr />

      <h3 class="title is-4">
        <a class="hidename" name="areas">{{i18n.documentation.areas}}</a>
      </h3>

      <p>
        {{{i18n.documentation.areas-1}}}
      </p>

      <p>
        {{{i18n.documentation.aggs-filters}}}
      </p>

      <p>
        {{{i18n.documentation.aggs-sort}}}

      </p>

      <p>
        {{{i18n.documentation.valid-lang}}}
      </p>

      <p>
        {{{i18n.documentation.aggs-per-page}}}
      </p>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.areas "(lang: \"zh-hant\", sort_field: \"count\", sort: \"asc\")" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.areas '(lang: "zh-hant", sort_field: "count", sort: "asc")'}}}</pre>

      <p>
        {{i18n.documentation.curl}}
      </p>
      <p>
        <pre class="query terminal">{{{curlQuery queries.areas '(lang: \\\"zh-hant\\\", sort_field: \\\"count\\\", sort: \\\"asc\\\")' config.graphql.host user.apitoken}}}</pre>
      </p>

      <p>
        {{i18n.documentation.nodejs}}
      </p>
      <p>
        <pre class="query node">{{{nodeQuery queries.areas '(lang: "zh-hant", sort_field: "count", sort: "asc")' config.graphql.host user.apitoken}}}</pre>
      </p>

      <hr />

      <h3 class="title is-4">
        <a class="hidename" name="categories">{{i18n.documentation.categories}}</a>
      </h3>

      <p>
        {{{i18n.documentation.category-1}}}
      </p>

      <p>
        {{{i18n.documentation.aggs-filters}}}
      </p>

      <p>
        {{{i18n.documentation.aggs-sort}}}
      </p>

      <p>
        {{{i18n.documentation.aggs-lang}}}
      </p>

      <p>
        {{{i18n.documentation.aggs-per-page}}}
      </p>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.categories "(lang: \"zh-hant\", sort_field: \"count\", sort: \"desc\")" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.categories '(lang: "zh-hant", sort_field: "count", sort: "desc")'}}}</pre>

      <p>
        {{i18n.documentation.curl}}
      </p>
      <p>
        <pre class="query terminal">{{{curlQuery queries.categories '(lang: \\\"zh-hant\\\", sort_field: \\\"count\\\", sort: \\\"desc\\\")' config.graphql.host user.apitoken}}}</pre>
      </p>

      <p>
        {{i18n.documentation.nodejs}}
      </p>
      <p>
        <pre class="query node">{{{nodeQuery queries.categories '(lang: "zh-hant", sort_field: "count", sort: "desc")' config.graphql.host user.apitoken}}}</pre>
      </p>

      <hr />

      <h3 class="title is-4">
        <a class="hidename" name="mediums">{{i18n.documentation.mediums}}</a>
      </h3>

      <p>
        {{{i18n.documentation.medium-1}}}
      </p>

      <p>
        {{{i18n.documentation.aggs-filters}}}
      </p>

      <p>
        {{{i18n.documentation.aggs-sort}}}
      </p>

      <p>
        {{{i18n.documentation.aggs-lang}}}
      </p>

      <p>
        {{{i18n.documentation.aggs-per-page}}}
      </p>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.mediums "" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.mediums ''}}}</pre>

      <p>
        {{i18n.documentation.curl}}
      </p>
      <p>
        <pre class="query terminal">{{{curlQuery queries.mediums '' config.graphql.host user.apitoken}}}</pre>
      </p>

      <p>
        {{i18n.documentation.nodejs}}
      </p>
      <p>
        <pre class="query node">{{{nodeQuery queries.mediums '' config.graphql.host user.apitoken}}}</pre>
      </p>

      <hr />

      <h3 class="title is-4">
        <a class="hidename" name="constituents">{{i18n.documentation.constituents}}</a>
      </h3>

      <p>
        {{{i18n.documentation.constituents-1}}}
      </p>
      <p>
        {{{i18n.documentation.constituents-2}}}
      </p>

      <p>
        {{{i18n.documentation.constituents-filters}}}
      </p>

      <p>
        {{{i18n.documentation.constituents-sorts}}}
      </p>

      <p>
        {{{i18n.documentation.aggs-lang}}}
      </p>

      <h3 class="title is-4">
        {{{i18n.documentation.constituents-call-for-ids}}}
      </h3>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.constituents "" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.constituents ''}}}</pre>

      <p>
        {{i18n.documentation.curl}}
      </p>
      <p>
        <pre class="query terminal">{{{curlQuery queries.constituents '' config.graphql.host user.apitoken}}}</pre>
      </p>

      <p>
        {{i18n.documentation.nodejs}}
      </p>
      <p>
        <pre class="query node">{{{nodeQuery queries.constituents '' config.graphql.host user.apitoken}}}</pre>
      </p>

      <h3 class="title is-4">
        <a class="hidename" name="constituents-paginationandfilter">{{i18n.documentation.paginationandfilter}}</a>
      </h3>

      <p>
        {{{i18n.documentation.constituents-more-info}}}
      </p>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.constituents "(page:3, per_page: 5, gender: \"Female\")" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.constituents '(page:3, per_page: 5, gender: "Female")'}}}</pre>

      <p>
        {{i18n.documentation.curl}}
      </p>
      <p>
        <pre class="query terminal">{{{curlQuery queries.constituents '(page:3, per_page: 5, gender: \\\"Female\\\")' config.graphql.host user.apitoken}}}</pre>
      </p>

      <p>
        {{i18n.documentation.nodejs}}
      </p>
      <p>
        <pre class="query node">{{{nodeQuery queries.constituents '(page:3, per_page: 5, gender: "Female")' config.graphql.host user.apitoken}}}</pre>
      </p>

      <h3 class="title is-4">
        <a class="hidename" name="constituents-sorting">{{i18n.documentation.sorting}}</a>
      </h3>

      <p>
        {{{i18n.documentation.constituents-sorting}}}
      </p>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.constituents "(sort_field: \"alphaSortName\", sort: \"asc\")" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.constituents '(sort_field: "alphaSortName", sort: "asc")'}}}</pre>

      <p>
        {{i18n.documentation.curl}}
      </p>
      <p>
        <pre class="query terminal">{{{curlQuery queries.constituents '(sort_field: \\\"alphaSortName\\\", sort: \\\"asc\\\")' config.graphql.host user.apitoken}}}</pre>
      </p>

      <p>
        {{i18n.documentation.nodejs}}
      </p>
      <p>
        <pre class="query node">{{{nodeQuery queries.constituents '(sort_field: "alphaSortName", sort: "asc")' config.graphql.host user.apitoken}}}</pre>
      </p>

      <h3 class="title is-4">
        <a class="hidename" name="constituents-fetchingbyids">{{i18n.documentation.fetchingbyids}}</a>
      </h3>

      <p>
        {{{i18n.documentation.constituents-by-ids-example}}}
      </p>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.constituents "(ids:[238, 382, 459, 608], lang: \"zh-hant\")" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.constituents '(ids:[238, 382, 459, 608], lang: "zh-hant")'}}}</pre>

      <p>
        {{i18n.documentation.curl}}
      </p>
      <p>
        <pre class="query terminal">{{{curlQuery queries.constituents '(ids:[238, 382, 459, 608], lang: \\\"zh-hant\\\")' config.graphql.host user.apitoken}}}</pre>
      </p>

      <p>
        {{i18n.documentation.nodejs}}
      </p>
      <p>
        <pre class="query node">{{{nodeQuery queries.constituents '(ids:[238, 382, 459, 608], lang: "zh-hant")' config.graphql.host user.apitoken}}}</pre>
      </p>

      <hr />

      <h3 class="title is-4">
        <a class="hidename" name="constituent">{{i18n.documentation.constituent}}</a>
      </h3>

      <p>
        {{{i18n.documentation.constituent-1}}}
      </p>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.constituent "(id: 238)" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.constituent '(id: 238)'}}}</pre>

      <p>
        {{i18n.documentation.curl}}
      </p>
      <p>
        <pre class="query terminal">{{{curlQuery queries.constituent '(id: 238)' config.graphql.host user.apitoken}}}</pre>
      </p>

      <p>
        {{i18n.documentation.nodejs}}
      </p>
      <p>
        <pre class="query node">{{{nodeQuery queries.constituent '(id: 238)' config.graphql.host user.apitoken}}}</pre>
      </p>

      <hr />

      <h3 class="title is-4">
        <a class="hidename" name="nesting">{{i18n.documentation.nesting}}</a>
      </h3>

      <p>
        {{{i18n.documentation.nesting-1}}}
      </p>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.objectsConstituent "" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.objectsConstituent ''}}}</pre>

      <p>
        {{i18n.documentation.nesting-2}}
      </p>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.objectConstituent "(id: 238)" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.objectConstituent '(id: 119)'}}}</pre>

      <p>
        {{i18n.documentation.nesting-3}}
      </p>

      <p>
        {{i18n.documentation.nesting-4}}
      </p>

      <hr />

      <h3 class="title is-4">
        <a class="hidename" name="objects-connected-constituent">{{i18n.documentation.objects-connected-constituent}}</a>
      </h3>

      <p>
        {{i18n.documentation.connected-1}}
      </p>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.constituent "(id: 478)" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.constituent '(id: 478)'}}}</pre>

      <p>
        {{i18n.documentation.connected-2}}
      </p>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.objectsConstituentMini "(constituent: 478)" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.objectsConstituentMini '(constituent: 478)'}}}</pre>

      <hr />

      {{#if showVendor}}
      <h2 class="title is-3">
        Sigg Online
      </h2>

      <h3 class="title is-4">
        <a class="hidename" name="sigg-online">How to get started with Exhibitions and so on</a>
      </h3>

      <p>
        If you are trying to work with Sigg Online data, you have a few more graphQL queries at your disposal. You also
        have
        concepts which are Artists and Artist Groups, and Exhibitions.
      </p>

      <h3 class="title is-5">Concepts</h3>

      <p>To get all concepts you used a query such as</p>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.concepts "" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.concepts ''}}}</pre>

      <p>And to fetch a single concept you can get it by id. Id 5 is that of the "Cultural Revolution Art" Artists
        movement</p>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.conceptNoObjects "(id: 5)" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.conceptNoObjects '(id: 5)'}}}</pre>

      <p>
        As usual you can get all objects for a concept two ways, you can ask the concept endpoint to incliude object
        data, and you can pass in the normal filters which will pass through to effect the objects, like this...
      </p>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.conceptWithObjects "(id: 5, per_page:2, page:0)" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.conceptWithObjects '(id: 5, per_page:2, page:0)'}}}</pre>

      <p>
        ...or you can ask the objects endpoint to filter on the concept...
      </p>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.objectsMediumWithConcepts "(concept: 5, per_page:2, page:0)" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.objectsMediumWithConcepts '(concept: 5, per_page:2, page:0)'}}}</pre>

      <h3 class="title is-5">Exhibitions</h3>
      <p>
        Exhibitions work the same way, you can get all exhibitions...
      </p>
      <p class="runinexplore">
        <a href='{{exploreQuery queries.exhibitions "" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.exhibitions ''}}}</pre>

      <p>
        Or you can just get the one we are interested in, <strong>Siggs Online</strong> is Exhibition <code>95</code>
        this is a minimal example...
      </p>
      <p class="runinexplore">
        <a href='{{exploreQuery queries.exhibition "(id:95)" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.exhibition '(id:95)'}}}</pre>

      <p>
        Again, you can do this via the objects endpoint. Here's a more fleshed out example for all all objects in the
        Sigg Online exhibition
        with the category of "Painting" shown 10 per page.
      </p>
      <p class="runinexplore">
        <a href='{{exploreQuery queries.objectsLargeWithExhibitions "(exhibition:95, per_page:10, page:0, category:\"Painting\")" config.graphql.host user.apitoken}}'>{{i18n.documentation.run-in-playground}}</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.objectsLargeWithExhibitions '(exhibition:95, per_page:10, page:0, category:"Painting")'}}}</pre>

      <p>
        Which should give you everything you need to string together showing objects for the exhibition. You will have
        to do some filtering to
        match the labels and bios with the exhibition using the "purpose" label.
      </p>

      <h2 class="title is-3">What is missing</h2>

      <p>
        Currently the system is missing images (use <a href="https://placekitten.com/">https://placekitten.com/</a>)
        for the moment. We are also missing the timeline data, both of these will be coming shortly.
      </p>

      <p>
        The graphQL endpoints and this documentation will continue to evolve over the next few weeks, hang tight!
      </p>
      {{/if}}

    </div>
  </section>

  {{> tail}}
</body>

</html>