<html>

<head>
  <title>Dashboard - developer</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title capitalise is-1">
          Developer Help
        </h1>
        <h2 class="subtitle is-3">
          Various bits of information to help developers :)
        </h2>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title">
        <a name="handshake" class="hidename">API token</a>
      </h1>
      <p>
        Hello and welcome to the developer portal for the M+ api, below you will find your API key and the details
        you
        need to start
        making calls to our GraphQL server.
      </p>
      <p>
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">API token
            </p>
          </header>
          <div class="card-content has-text-centered is-size-3 has-text-weight-semibold">{{user.apitoken}}</div>
        </div>
      </p>
      <hr />
    </div>
  </section>

  <section class="section">
    <div class="container">

      <h1 class="title">
        <a name="graphql" class="hidename">GraphQL</a>
      </h1>
      {{#if config.graphql}}
        <p>
          <ul>
            <li>
              <a href="/developer/terms">GraphQL API Terms of use</a>
            </li>
            <li>
              <a href="/developer/graphql">GraphQL Documentation</a>
            </li>
            <li>
              <a href="/developer/graphql/status">GraphQL Status</a>
            </li>
            {{#if user.roles.isAdmin}}
              <li>
                <a href="/config#graphql">GraphQL Configuration</a>
              </li>
            {{/if}}
          </ul>
        </p>
      {{else}}
        <p>
          GraphQL has not been configured yet. {{#if user.roles.isAdmin}}You can
            <a href="/config#graphql">configure that now</a> if you wish.
          {{else}}You should ask the admin user to set that up
            now.{{/if}}
        </p>
      {{/if}}
    </div>
  </section>

  {{> tail}}
</body>

</html>