<html>

<head>
  <title>Dashboard - settings</title>
  <link href="/css/main.css" rel="stylesheet" />
  <script src="/js/main.js"></script>
</head>

<body>

  {{> nav}}

  <div class="wrapper">
    <div class="container">

      <h1>User / Settings</h1>
      <p>
        Here are your user settings
      </p>
      <p>
        <h2>Set Language</h2>
        <ul>
          {{#each langs}}
          <li>
            <a href="/settings/language/{{@this}}">{{@this}}</a>
          </li>
          {{/each}}
        </ul>
      </p>
    </div>
  </div>

</body>

</html>