<html>

<head>
  <title>Dashboard - stats</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title capitalise is-1">
          {{i18n.stats.stats}}
        </h1>
        <h2 class="subtitle is-3">
          {{i18n.stats.intro}}
        </h2>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">

      {{#if tms}}
        <h1 class="title">{{i18n.stats.tms_system}}</h1>
        <h2 class="subtitle">Each TMS instance we are using is listed below, showing the progress of each</h2>


        {{#each tms}}
          <hr />
          <h3 class="title">{{stub}}</h3>

          {{#ifEqual stub "mplus"}}
            <p class="is-spaced">{{../../i18n.stats.publicAccess}}</p>
            <progress class="progress is-success is-large is-spaced" value="{{../../publicAccess.truePercent}}" max="100">{{../../publicAccess.truePercent}}%</progress>
            <p class="is-spaced">
              {{prettyNumber ../../publicAccess.trueTotal}} ({{../../publicAccess.truePercent}}%) objects have been
              made
              public, {{prettyNumber ../../publicAccess.falseTotal}} are still remaining.
            </p>
          {{/ifEqual}}

          {{#each processingData}}
            {{#ifEven @index}}
              <div class="columns">
            {{/ifEven}}

            <div class="column">
              <form method="post">
                <input type="hidden" name="tms" value="{{../stub}}">
                <input type="hidden" name="itemType" value="{{@key}}">
                <input type="hidden" name="action" value="search">
                <div class="panel">
                  <div class="panel-heading">{{@key}}</div>
                  <div class="panel-block">
                    <ul>
                      <li>Total {{toLowerCase @key}} processed: <span class="has-text-weight-bold">{{prettyNumber
                      itemsProcessed}}</span></li>
                      <li>{{child}} files waiting to be processed: <span class="has-text-weight-bold">{{prettyNumber
                      waitingToBeProcessed}}</span> {{#ifNotEqual waitingToBeProcessed 0}}(Finishes
                          {{timeAgo ../timeToUpsert}}, estimate){{/ifNotEqual}}</li>
                    </ul>
                  </div>

                  <div class="panel-block">
                    <p class="control has-icons-left">
                      <input class="input" type="text" name="itemID" placeholder="Search {{toLowerCase child}} by id"
                        {{#unless itemsProcessed}} disabled{{/unless}}> <span class="icon is-small is-left">
                      <i class="fas fa-search" aria-hidden="true"></i>
                      </span>
                    </p>
                  </div>
                </div>
              </form>
            </div class="column">

            {{#ifOdd @index}}
    </div class="columns">
    {{/ifOdd}}
    {{/each}}

    {{#ifOdd processingData.length}}
      </div class="columns">
    {{/ifOdd}}
    {{!---
    <div class="columns">
      <div class="column">

        <div class="panel">
          <div class="panel-heading">Objects</div>
          <div class="panel-block">
            <ul>
              <li>{{../i18n.stats.total_objects_processed}}: <span class="has-text-weight-bold">{{prettyNumber
                  objectsProcessed}}</span></li>
              <li>{{../i18n.stats.object_files_waiting}}: <span class="has-text-weight-bold">{{prettyNumber
                  objectsWaitingToBeProcessed}}</span> (Finishes
                {{timeAgo timeToUpsertObjects}}, estimate)</li>
            </ul>
          </div>

          <div class="panel-block">
            <form method="post">
              <input type="hidden" name="tms" value="{{stub}}">
              <input type="hidden" name="action" value="search">
              <p class="control has-icons-left">
                <input class="input" type="text" name="objectID" placeholder="{{../i18n.stats.search_object}}">
                <span class="icon is-small is-left">
                  <i class="fas fa-search" aria-hidden="true"></i>
                </span>
              </p>
            </form>
          </div>
        </div>

      </div>
    </div>
    ---}}

    {{#if ../user.roles.isAdmin}}
      <div class="notification is-info">
        {{{../i18n.stats.lot_of_files_to_upload}}}
      </div>
    {{/if}}
    {{/each}} {{/if}}

    </div>
  </section>

  {{> tail}}
</body>

</html>