<html>

<head>
  <title>Dashboard - stats</title>
  {{> head}}
</head>

<body class="cover" style="background-image: url(/images/cover_001.jpg);">

  {{> nav}}

  <div class="wrapper">
    <div class="container admin-layout documentation">

      <h1 class="capitalize">{{i18n.stats.stats}}</h1>
      <p>
        {{i18n.stats.intro}}
      </p>
      <p>
        {{{i18n.stats.link_to_logs}}}
      </p>

      <hr> {{#if tms}}
      <h2>{{i18n.stats.tms_system}}</h2>

      <h4 style="margin-bottom: 0.5em">{{i18n.stats.publicAccess}}</h4>
      <div style="position: relative; width: 100%; height: 32px">
        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #f9f9f9; border: 1px solid #ddd; border-radius: 6px;">
          <div style="position: absolute; top: 0; left: 0; width: {{publicAccess.truePercent}}%; height: 100%; background: #66ff66">
          </div>
          <div style="top: 2px; left: 6px; position: absolute; font-size: 80%">{{prettyNumber publicAccess.trueTotal}} ({{publicAccess.truePercent}}%)</div>
          <div style="top: 2px; right: 6px; position: absolute; font-size: 80%">{{prettyNumber publicAccess.falseTotal}} {{i18n.stats.remaining}}</div>
        </div>
      </div>
      {{#each tms}}
      <h4 style="margin-bottom: 1rem">{{stub}}</h4>
      <table>
        <tr>
          <td style="vertical-align: top">{{../i18n.stats.total_objects_processed}}</td>
          <td>{{prettyNumber objectsProcessed}}</td>
        </tr>
        <tr>
          <td style="vertical-align: top">{{../i18n.stats.object_files_waiting}}</td>
          <td>{{prettyNumber objectsWaitingToBeProcessed}} (Finishes {{timeAgo timeToUpsertObjects}}, estimate) {{#if ../user.roles.isAdmin}}
            {{{../i18n.stats.lot_of_files_to_upload}}} {{/if}}
          </td>
        </tr>

        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td>{{../i18n.stats.results_generated_in}}</td>
          <td>{{prettyNumber ms}}ms</td>
        </tr>
      </table>


      <p>
        <form method="post">
          <table class="api">
            <tr>
              <td style="width: 25%">{{../i18n.stats.search_object}}:</td>
              <td>
                <input type="text" name="objectID">
              </td>
              <td>
                <input type="hidden" name="tms" value="{{stub}}">
                <button class="capitalize" type="submit" value="search" name="action">{{../i18n.stats.go}}</button>
              </td>
            </tr>
          </table>
        </form>
      </p>

      {{/each}} {{/if}}
    </div>
  </div>

  {{> tail}}
</body>

</html>