<html>

<head>
  <title>Dashboard - logs</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title capitalise is-1">
          Logs
        </h1>
        <h2 class="subtitle is-3">
          A selection of maybe useful records
        </h2>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container documentation">

      <ul class="toc">
        <li>
          <a href="#entries">Last 100 entries</a>
        </li>
        <li>
          <a href="#imports">Last 100 XML imports</a>
        </li>
        {{#each last100Upserted}}
          <li>
            <a href="#last{{@key}}">Last 100 {{@key}} upserted (Average ms: {{prettyNumber averageUpsertedms}}ms)</a>
          </li>
        {{/each}}
        <li>
          <a href="#graphql">Last 100 GraphQL queries</a>
        </li>

      </ul>

      <hr>

      <h1 class="title">
        <a name="entries" class="hidename">Last 100 entries</a>
      </h1>
      <p>
        <table class="table is-striped is-fullwidth">
          <thead>
            <tr>
              <th>Time</th>
              <th>Action</th>
              <th>Status</th>
              <th>Type</th>
              <th>Message</th>
              <th>ms</th>
            </tr>
          </thead>
          <tbody>
            {{#each last100Lines}}
              <tr {{#ifEqual status 'warning'}} class="has-background-warning" {{/ifEqual}} {{#ifEqual status 'ok'}}
                class="has-background-success" {{/ifEqual}} {{#ifEqual status 'error'}} class="has-background-danger"
                {{/ifEqual}}>
                <td>{{timeAgo timestamp}}</td>
                <td>{{action}}</td>
                <td>{{status}}</td>
                <td>{{type}}</td>
                <td>{{#if message}}{{message}}{{else}}{{name}}{{/if}}</td>
                <td style="text-align: right">{{#if ms}}{{prettyNumber ms}}ms{{else}}&nbsp;{{/if}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </p>

      <hr />

      <h1 class="title">
        <a name="imports" class="hidename">Last 100 imports</a>
      </h1>
      <p>
        <table class="table is-striped is-fullwidth">
          <thead>
            <tr>
              <th>Time</th>
              <th>Action</th>
              <th>Status</th>
              <th>Type</th>
              <th>New items</th>
              <th>Modified items</th>
              <th>Total items</th>
              <th>ms</th>
            </tr>
          </thead>
          <tbody>
            {{#each processingMainXML}}
              <tr {{#ifEqual status 'warning'}} class="has-background-warning" {{/ifEqual}} {{#ifEqual status 'ok'}}
                class="has-background-success" {{/ifEqual}} {{#ifEqual status 'error'}} class="has-background-danger"
                {{/ifEqual}}>
                <td>{{timeAgo timestamp}}</td>
                <td>{{action}}</td>
                <td>{{status}}</td>
                <td>{{type}}</td>
                <td>{{newItems}}</td>
                <td>{{modifiedItems}}</td>
                <td>{{totalItems}}</td>
                <td style="text-align: right">{{#if ms}}{{prettyNumber ms}}ms{{else}}&nbsp;{{/if}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </p>

      {{#each last100Upserted}}
        <hr>

        <h1 class="title">
          <a name="last{{@key}}" class="hidename">Last 100 {{@key}} upserted (Average ms: {{prettyNumber
          averageUpsertedms}}ms)</a>
        </h1>
        <p>
          <table class="table is-striped is-fullwidth">
            <thead>
              <tr>
                <th>Time</th>
                <th>Action</th>
                <th>Status</th>
                <th>Message</th>
                <th>ms</th>
              </tr>
            </thead>
            <tbody>
              {{#each items}}
                <tr {{#ifEqual status 'warning'}} class="has-background-warning" {{/ifEqual}} {{#ifEqual status 'ok'}}
                  class="has-background-success" {{/ifEqual}} {{#ifEqual status 'error'}} class="has-background-danger"
                  {{/ifEqual}}>
                  <td>{{timeAgo timestamp}}</td>
                  <td>{{action}}</td>
                  <td>{{status}}</td>
                  <td>{{message}}</td>
                  <td style="text-align: right">{{#if ms}}{{prettyNumber ms}}ms{{else}}&nbsp;{{/if}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </p>
      {{/each}}

      <hr />

      <h1 class="title">
        <a name="graphql" class="hidename">Last 100 GraphQL queries {{#if totalLogRecords}} from a total of
            {{prettyNumber totalLogRecords}}{{/if}}</a>
      </h1>
      <p>
        <table class="table is-striped is-fullwidth">
          <thead>
            <tr>
              <th>Time</th>
              <th>Method</th>
              <th>Token</th>
              <th>Vendor</th>
              <th>Args</th>
              <th>Records</th>
              <th>ms</th>
            </tr>
          </thead>
          <tbody>
            {{#each graphQLRecords}}
              <tr {{#ifgt ms 200}} class="has-background-warning" {{/ifgt}}>
                <td>{{timeAgo timestamp}}</td>
                <td>{{method}}</td>
                <td>{{context.token}}</td>
                <td>{{context.isVendor}}</td>
                <td>
                  <pre class="query language-json" style="margin-bottom: 0 !important; padding: 4px; font-size: 120%">{{argsNice}}</pre>
                </td>
                <td>{{records}}</td>
                <td style="text-align: right">{{#if ms}}{{prettyNumber ms}}ms{{else}}&nbsp;{{/if}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </p>

    </div>
  </section>

  {{> tail}}
</body>

</html>