<html>

<head>
  <title>Dashboard - logs</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title capitalise is-1">
          Logs
        </h1>
        <h2 class="subtitle is-3">
          A selection of maybe useful records
        </h2>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container documentation">

      <ul class="toc">
        <li>
          <a href="#entries">Last 100 entries</a>
        </li>
        <li>
          <a href="#imports">Last 100 XML imports</a>
        </li>
        {{#each last100Upserted}}
          <li>
            <a href="#objects">Last 100 {{@key}} upserted (Average ms: {{prettyNumber averageUpsertedms}}ms)</a>
          </li>
        {{/each}}
      </ul>

      <hr>

      <h1 class="title">
        <a name="entries" class="hidename">Last 100 entries</a>
      </h1>
      <p>
        <table class="table is-striped is-fullwidth">
          <thead>
            <tr>
              <th>Time</th>
              <th>Action</th>
              <th>Status</th>
              <th>Type</th>
              <th>Message</th>
              <th>ms</th>
            </tr>
          </thead>
          <tbody>
            {{#each last100Lines}}
              <tr {{#ifEqual data.status 'warning'}} class="has-background-warning" {{/ifEqual}}
                {{#ifEqual data.status 'ok'}} class="has-background-success" {{/ifEqual}}
                {{#ifEqual data.status 'error'}} class="has-background-danger" {{/ifEqual}}>
                <td>{{timeAgo timestamp}}</td>
                <td>{{data.action}}</td>
                <td>{{data.status}}</td>
                <td>{{data.type}}</td>
                <td>{{data.message}}</td>
                <td style="text-align: right">{{#if data.ms}}{{prettyNumber data.ms}}ms{{else}}&nbsp;{{/if}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </p>

      <hr />

      <h1 class="title">
        <a name="imports" class="hidename">Last 100 imports</a>
      </h1>
      <p>
        <table class="table is-striped is-fullwidth">
          <thead>
            <tr>
              <th>Time</th>
              <th>Action</th>
              <th>Status</th>
              <th>Type</th>
              <th>New items</th>
              <th>Modified items</th>
              <th>Total items</th>
              <th>ms</th>
            </tr>
          </thead>
          <tbody>
            {{#each processingMainXML}}
              <tr {{#ifEqual data.status 'warning'}} class="has-background-warning" {{/ifEqual}}
                {{#ifEqual data.status 'ok'}} class="has-background-success" {{/ifEqual}}
                {{#ifEqual data.status 'error'}} class="has-background-danger" {{/ifEqual}}>
                <td>{{timeAgo timestamp}}</td>
                <td>{{data.action}}</td>
                <td>{{data.status}}</td>
                <td>{{data.type}}</td>
                <td>{{data.newItems}}</td>
                <td>{{data.modifiedItems}}</td>
                <td>{{data.totalItems}}</td>
                <td style="text-align: right">{{#if data.ms}}{{prettyNumber data.ms}}ms{{else}}&nbsp;{{/if}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </p>

      {{#each last100Upserted}}
        <hr>

        <h1 class="title">
          <a name="objects" class="hidename">Last 100 {{@key}} upserted (Average ms: {{prettyNumber
          averageUpsertedms}}ms)</a>
        </h1>
        <p>
          <table class="table is-striped is-fullwidth">
            <thead>
              <tr>
                <th>Time</th>
                <th>Action</th>
                <th>Status</th>
                <th>Message</th>
                <th>ms</th>
              </tr>
            </thead>
            <tbody>
              {{#each items}}
                <tr {{#ifEqual data.status 'warning'}} class="has-background-warning" {{/ifEqual}}
                  {{#ifEqual data.status 'ok'}} class="has-background-success" {{/ifEqual}}
                  {{#ifEqual data.status 'error'}} class="has-background-danger" {{/ifEqual}}>
                  <td>{{timeAgo timestamp}}</td>
                  <td>{{data.action}}</td>
                  <td>{{data.status}}</td>
                  <td>{{data.message}}</td>
                  <td style="text-align: right">{{#if data.ms}}{{prettyNumber data.ms}}ms{{else}}&nbsp;{{/if}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </p>
      {{/each}}


    </div>
  </section>

  {{> tail}}
</body>

</html>