<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <title>TMS extract/ingester</title>
  <link href="/stylesheets/main.css" rel="stylesheet" />
</head>
<body>

	{{> header}}
	{{> connections}}

	<div class="container admin-layout">
		<div>

			<h1>Status</h1>

			<hr>

  		<h1>Search</h1>

			<p>
				<form method="post">
					<label>
	          <span class="label">Search for object</span>
	          <span class="field">
	            <input type="text" name="id" required placeholder="Object ID">
	          </span>
	        </label>
					<button type="submit" value="Search">Search</button>
				</form>
			</p>

			<hr>

			<h1>Elastic Search &amp; GraphQL</h1>
			<p>
				<form method="post">
					<table>
						<tr>
							<td>Elastic Search</td>
							<td><input type="text" name="elasticsearch" placeholder="Example: localhost:9200" {{#if config.elasticsearch.host}}value="{{config.elasticsearch.host}}"{{/if}}>
						</tr>
						<tr>
							<td>GraphQL</td>
							<td><input type="text" name="graphql" placeholder="Example: localhost:3000" {{#if config.graphql.host}}value="{{config.graphql.host}}"{{/if}}>
						</tr>
						<tr><td colspan="2"><button type="submit" value="updatehosts" name="action">Update</button></td></tr>
					</table>

				</form>
			</p>

			<hr>

			<h1>Item XML data</h1>
			<p>
				{{#if config.xml}}
					<form method="post">
						<table>
								<tr>
									<th scope="col">File</th>
									<th scope="col">Index</th>
									<th scope="col">Type</th>
									<th scope="col">Status</th>
									<th scope="col">Action</th>
								</tr>
							{{#each config.xml}}
								<tr>
									<th scope="row">{{file}}</th>
									<td>{{index}}</td>
									<td>{{type}}</td>
									{{#if missing}}<td class="error">Missing</td>{{else}}{{#if parser}}<td>Exists</td>{{else}}<td class="error">Missing parser code</td>{{/if}}{{/if}}
									<td><button type="submit" value="delete:{{file}}" name="action">Remove</button></td>
								</tr>
							{{/each}}
						</table>
					</form>
				{{else}}
					No TMS XML data files have been registered with the system yet.
					{{#if addableFiles}}
						You should use the form in the next section to select one or more files to register.
					{{else}}
						Follow the instructions in the next section to get started.
					{{/if}}
				{{/if}}
			</p>

			<hr>

			<h1>Add XML item files</h1>
				{{#if addableFiles}}
				<p>
				The following files have been found in the <code>/app/data/xml</code> folder, please enter the <code>Index</code> and <code>Type</code> and click the "Add" button for each file you wish to add.
				</p>
				<p>
					<form method="post">
						<table>
								<tr>
									<th scope="col">File</th>
									<th scope="col">Index</th>
									<th scope="col">Type</th>
									<th scope="col">Action</th>
								</tr>
							{{#each addableFiles}}
								<tr>
									<th scope="row">{{@this}}</th>
									<th scope="col"><input type="text" name="index:{{@this}}" placeholder="Example: objects"></th>
									<th scope="col"><input type="text" name="type:{{@this}}" placeholder="Example: object"></th>
									<td><button type="submit" value="add:{{@this}}" name="action">Add</button></td>
								</tr>
							{{/each}}
						</table>
					</form>
				</p>
				<h3>Note:</h3>
				<p>
					<strong>Index:</strong> this is the index name that will be used in ElasticSearch.
				</p>
				<p>
					<strong>Type:</strong> this is the type that gets passed to ElasticSearch during upserts. It should also match the directory the parsing code used to parse this XML file, that's found in <code>/app/cli/tmsxml2json/parsers</code>, i.e. <code>/app/cli/tmsxml2json/parsers/[type]/index.js</code>
				<p>
				{{else}}
					<p>
						No exported .xml files found in <code>/app/data/xml</code>. You should place (or automate the placing of) the .xml files exported from TMS into the <code>/app/data/xml</code> directory and then refresh this page.
					</p>
				{{/if}}

		</div>
	</div>

</body>
</html>
