<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <title>TMS extract/ingester</title>
  <link href="/stylesheets/main.css" rel="stylesheet" />
</head>
<body>

	{{> header}}

	<div class="container">
		<div>

  		<h1>Status</h1>

			<p>{{msg}}</p>

			<p>
				<form method="post">
					<label>
	          <span class="label">Search for object</span>
	          <span class="field">
	            <input type="text" name="id" required placeholder="Object ID">
	          </span>
	        </label>
					<button type="submit" value="Search">Search</button>
				</form>
			</p>
		</div>
	</div>

</body>
</html>
