<html>

<head>
  <title>Dashboard - admin</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title capitalise is-1">
          Bulk delete
        </h1>
        <h2 class="subtitle is-3">
          This is where you can bulk delete {{indexLower}}
        </h2>
      </div>
    </div>
  </section>


  <section class="section">
    <div class="container documentation">
      <form method="POST">

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">TMS ids of {{indexLower}} to be deleted, one id per row.</label>
          </div>
          <div class="field-body">
            <div class="field">
              <textarea class="textarea" rows="20" name="deleteme"
                placeholder="Paste your ids here, one per row">{{missingIds}}</textarea>
            </div>
          </div>
        </div>

        <div class="level">
          <div class="level-left">
            <div class="level-item">&nbsp;</div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <p class="control">
                <button class="button is-primary" name="action" value="deleteIndexByIds">Delete</button>
              </p>
            </div>
          </div>
        </div>

      </form>

    </div>
  </section>

  {{> tail}}
</body>

</html>