<html>

<head>
  <title>Dashboard - admin</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title capitalise is-1">
          Admin
        </h1>
        <h2 class="subtitle is-3">
          Where we can break things
        </h2>
      </div>
    </div>
  </section>

  {{#if notification}}
    <section class="section">
      <div class="container">
        <div class="notification is-{{notification.type}}">
          {{notification.msg}}
        </div>
      </div>
    </section>
  {{/if}}

  <section class="section">
    <div class="container documentation">
      <ul>
        <li>
          <a href="/admin/translations">Translations</a>
        </li>
        <li>
          <a href="/admin/users">Users</a>
        </li>
        <li>
          <a href="/admin/isMakers">isMakers</a>
        </li>
        <li>
          <a href="/admin/importRecommended">import Recommended CSV</a>
        </li>
      </ul>

      <hr />
    </div>
  </section>

  <section class="section">
    <div class="container">

      <h2 class="title">Rerun XML import from local file</h2>

      <ul>
        {{#each config.tms}}
          <li>
            <form method="POST" action="/{{../selectedLang}}/admin">
              <input type="hidden" name="tms" value="{{stub}}" />
              <button class="button is-primary" type="submit" name="action" value="reimport">Reimport {{stub}} XML file</button>
            </form>
          </li>
        {{/each}}
      </ul>
      <hr />
    </div>
  </section>

  <section class="section">
    <div class="container">

      <h2 class="title">Danger-ish</h2>

      <ul>
        <li>
          <form method="POST" action="/admin/aggregate/mplus">
            <button class="button is-warning" type="submit">Re-aggregate object fields</button>
          </form>
        </li>
      </ul>
      <hr />
    </div>
  </section>

  <section class="section">
    <div class="container">

      <h2 class="title">DANGER!</h2>

      <ul>
        <li>
          <form method="POST" action="/admin/blow/away/index/objects">
            <button class="button is-danger" type="submit">Blow away index for objects</button>
          </form>
        </li>
        <li>
          <form method="POST" action="/admin/blow/away/index/authors">
            <button class="button is-danger" type="submit">Blow away index for authors</button>
          </form>
        </li>
      </ul>

    </div>
  </section>

  {{> tail}}
</body>

</html>