<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>M+ Dash | Admin | users</title>
  <link href="/css/main.css" rel="stylesheet" />
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
</head>

<body>

  {{> nav}} {{> connections}}

  <div class="container homepage">
    <div>

      <h1>Admin &gt; Users</h1>
      <p>
        <table class="admin">
          <thead>
            <th>User</th>
            <th>ID</th>
            <th>Created</th>
            <th>Developer</th>
            <th>Staff</th>
            <th>Admin</th>
          </thead>
          <tbody>
            {{#each users}}
            <tr>
              <td>
                <a href="/admin/user/{{hash}}">{{auth0.nickname}}</a>
              </td>
              <td>{{id}}</td>
              <td>{{timePretty created}}</td>
              <td>{{#ifEqual developer true}}yes{{else}}&nbsp;{{/ifEqual}}</td>
              <td>{{#ifEqual staff true}}yes{{else}}&nbsp;{{/ifEqual}}</td>
              <td>{{#ifEqual admin true}}yes{{else}}&nbsp;{{/ifEqual}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </p>

    </div>
  </div>

  {{> tail}}

</body>

</html>