/* line 1, ../../../src/sass/main.scss */
body {
  background: #fff;
  color: #111;
  font-family: sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
}
/* line 8, ../../../src/sass/main.scss */
body.cover {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 14, ../../../src/sass/main.scss */
body.cover .container {
  font-size: 2rem;
}
/* line 16, ../../../src/sass/main.scss */
body.cover .container.homepage {
  margin-top: 8rem;
}
/* line 18, ../../../src/sass/main.scss */
body.cover .container.homepage p {
  font-size: 2rem;
}
/* line 22, ../../../src/sass/main.scss */
body.cover .container h1 {
  margin-top: 4rem;
}
/* line 25, ../../../src/sass/main.scss */
body.cover .container .welcome {
  text-align: center;
}
/* line 30, ../../../src/sass/main.scss */
body .container {
  background: white;
  margin-top: 0;
  padding: 1em;
  font-size: 1.5rem;
}
/* line 35, ../../../src/sass/main.scss */
body .container h1 {
  margin-top: 2rem;
}
/* line 38, ../../../src/sass/main.scss */
body .container hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* line 43, ../../../src/sass/main.scss */
body .container ul.fields {
  font-family: monospace;
}
/* line 45, ../../../src/sass/main.scss */
body .container ul.fields.level1 li {
  font-weight: bold;
  list-style: none;
  margin-top: 0.5em;
}
/* line 50, ../../../src/sass/main.scss */
body .container ul.fields.level2 li {
  font-weight: normal;
  margin-top: 0;
}
/* line 54, ../../../src/sass/main.scss */
body .container ul.fields.level3 li {
  font-size: 0.9em;
}
/* line 57, ../../../src/sass/main.scss */
body .container ul.fields.level4 li {
  font-size: 0.9em;
}
/* line 61, ../../../src/sass/main.scss */
body .container ul.column3 {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  padding: 0;
  margin: 0;
}
/* line 67, ../../../src/sass/main.scss */
body .container ul.column3 li {
  flex: 1 0 33%;
}
/* line 74, ../../../src/sass/main.scss */
body table.admin {
  width: 100%;
}

/* line 80, ../../../src/sass/main.scss */
a {
  text-decoration: none;
}

/* line 85, ../../../src/sass/main.scss */
nav.header {
  background-color: #0d47a1;
  color: white;
}
/* line 89, ../../../src/sass/main.scss */
nav .nav-wrapper {
  min-height: 64px;
  height: auto;
  position: relative;
  line-height: 64px;
}
/* line 94, ../../../src/sass/main.scss */
nav .nav-wrapper .brand-logo {
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
}
/* line 99, ../../../src/sass/main.scss */
nav .nav-wrapper .brand-logo.left {
  float: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/* line 105, ../../../src/sass/main.scss */
nav .nav-wrapper a {
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  font-size: 1rem;
  color: #fff;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}
/* line 114, ../../../src/sass/main.scss */
nav .nav-wrapper a:hover {
  background-color: #039be5;
}
/* line 118, ../../../src/sass/main.scss */
nav .nav-wrapper ul {
  padding-left: 0;
  list-style-type: none;
  float: left;
  margin: 0;
}
/* line 123, ../../../src/sass/main.scss */
nav .nav-wrapper ul li {
  list-style-type: none;
  transition: background-color 0.3s;
  float: left;
  padding: 0;
  box-sizing: inherit;
}
/* line 132, ../../../src/sass/main.scss */
nav .nav-wrapper img.avatar {
  margin-top: 7px;
  padding-right: 15px;
  vertical-align: top;
  width: 50px;
}

/* line 142, ../../../src/sass/main.scss */
.connections {
  background: #fcfcfc;
  min-height: 32px;
  line-height: 32px;
  height: auto;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #039be5;
  font-size: 0.8em;
}
/* line 151, ../../../src/sass/main.scss */
.connections .graphQL {
  float: right;
  margin-right: 2em;
}
/* line 155, ../../../src/sass/main.scss */
.connections .elasticSearch {
  float: right;
  margin-right: 2em;
  cursor: pointer;
}
/* line 159, ../../../src/sass/main.scss */
.connections .elasticSearch .alert {
  color: red;
  font-weight: bold;
}
/* line 163, ../../../src/sass/main.scss */
.connections .elasticSearch .warn {
  color: orange;
  font-weight: bold;
}

/* line 170, ../../../src/sass/main.scss */
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
/* line 174, ../../../src/sass/main.scss */
.container p {
  font-size: 1.125rem;
  line-height: 2rem;
}
/* line 178, ../../../src/sass/main.scss */
.container a {
  color: #039be5;
}
/* line 181, ../../../src/sass/main.scss */
.container table.dataDump {
  width: 100%;
  display: block;
  overflow: hidden;
}
/* line 185, ../../../src/sass/main.scss */
.container table.dataDump tbody {
  overflow: hidden;
  display: block;
}
/* line 188, ../../../src/sass/main.scss */
.container table.dataDump tbody tr {
  overflow: hidden;
  display: block;
}
/* line 191, ../../../src/sass/main.scss */
.container table.dataDump tbody tr td {
  width: 47%;
  vertical-align: top;
  margin: 1%;
  overflow: hidden;
  display: inline-block;
}
/* line 197, ../../../src/sass/main.scss */
.container table.dataDump tbody tr td div.boxme {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 40em;
  overflow: scroll;
}
/* line 203, ../../../src/sass/main.scss */
.container table.dataDump tbody tr td div.boxme pre {
  padding: 6px;
}
/* line 207, ../../../src/sass/main.scss */
.container table.dataDump tbody tr td ul {
  list-style: none;
}
/* line 209, ../../../src/sass/main.scss */
.container table.dataDump tbody tr td ul li {
  float: none;
  width: 100%;
  line-height: 1.8em;
}
/* line 219, ../../../src/sass/main.scss */
.container ul.cards {
  padding-left: 0;
  list-style-type: none;
}
/* line 222, ../../../src/sass/main.scss */
.container ul.cards li {
  width: 33.33333%;
  margin-left: auto;
  left: auto;
  right: auto;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;
}
/* line 232, ../../../src/sass/main.scss */
.container ul.cards li .card {
  height: 500px;
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  -o-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
/* line 245, ../../../src/sass/main.scss */
.container ul.cards li .card .card-content {
  padding: 24px;
  border-radius: 0 0 2px 2px;
}
/* line 248, ../../../src/sass/main.scss */
.container ul.cards li .card .card-content p {
  margin: 0;
  color: inherit;
}
/* line 252, ../../../src/sass/main.scss */
.container ul.cards li .card .card-content .card-title {
  font-size: 20px;
  line-height: 1.2;
  display: block;
  margin-bottom: 8px;
  font-weight: 300;
}
/* line 259, ../../../src/sass/main.scss */
.container ul.cards li .card .card-content .card-image {
  height: 300px;
  text-align: center;
}
/* line 262, ../../../src/sass/main.scss */
.container ul.cards li .card .card-content .card-image .image {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
/* line 276, ../../../src/sass/main.scss */
.container .missing-data {
  display: inline-block;
  background: pink;
  color: red;
  font-family: monospace;
  font-size: 12px;
}
/* line 284, ../../../src/sass/main.scss */
.container.admin-layout code {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 288, ../../../src/sass/main.scss */
.container.admin-layout table {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 1em;
  background: #f9f9f9;
}
/* line 294, ../../../src/sass/main.scss */
.container.admin-layout table th {
  text-align: left;
}
/* line 296, ../../../src/sass/main.scss */
.container.admin-layout table th.span {
  text-align: center;
}
/* line 301, ../../../src/sass/main.scss */
.container.admin-layout table td.error {
  color: red;
}
/* line 305, ../../../src/sass/main.scss */
.container.admin-layout table input[type='text'] {
  width: 100%;
  font-size: 1.2em;
  padding: 8px;
}
/* line 310, ../../../src/sass/main.scss */
.container.admin-layout table button {
  font-size: 1.2em;
  padding: 8px;
  background: #0d47a1;
  color: white;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s;
  cursor: pointer;
}
/* line 319, ../../../src/sass/main.scss */
.container.admin-layout table button:hover {
  background-color: #039be5;
}
/* line 323, ../../../src/sass/main.scss */
.container.admin-layout table .progress-back,
.container.admin-layout table .progress-front {
  height: 100%;
  width: 100%;
  background: white;
  border: 1px solid #eee;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  font-size: 0.9em;
}
/* line 336, ../../../src/sass/main.scss */
.container.admin-layout table .progress-front {
  background: #039be5;
  overflow: hidden;
  width: 0%;
  color: white;
}
/* line 348, ../../../src/sass/main.scss */
.container.documentaion h1 a,
.container.documentaion h2 a,
.container.documentaion h3 a {
  color: inherit;
}
/* line 352, ../../../src/sass/main.scss */
.container.documentaion ul.toc {
  font-size: 1.2rem;
  list-style-type: none;
  line-height: 1.5rem;
}
/* line 356, ../../../src/sass/main.scss */
.container.documentaion ul.toc ul {
  font-size: 1rem;
}
/* line 360, ../../../src/sass/main.scss */
.container.documentaion p.runinexplore {
  margin-bottom: 0;
}
/* line 362, ../../../src/sass/main.scss */
.container.documentaion p.runinexplore a {
  font-size: 1rem;
}
/* line 366, ../../../src/sass/main.scss */
.container.documentaion code {
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  display: inline-block;
  font-size: 1.2rem;
  padding-left: 6px;
  padding-right: 6px;
}
/* line 374, ../../../src/sass/main.scss */
.container.documentaion code.red {
  color: #DD0000;
  padding: 0;
  border: none;
  background-color: inherit;
  font-size: 1.5rem;
  font-weight: 100;
}
/* line 383, ../../../src/sass/main.scss */
.container.documentaion p.note {
  color: #264c72;
  border: 1px solid #97c1da;
  background-color: #d8ebf8;
  position: relative;
  padding: 15px 15px 15px;
  margin-bottom: 20px;
  border-radius: 3px;
  font-weight: 400;
}
/* line 394, ../../../src/sass/main.scss */
.container.documentaion pre.query {
  margin: 0 0 32px;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  line-height: 1.4em;
  padding: 10px;
  overflow: auto;
  font-size: 1.2rem;
}
/* line 405, ../../../src/sass/main.scss */
.container.documentaion table.api {
  font-size: 1.6rem;
}
/* line 407, ../../../src/sass/main.scss */
.container.documentaion table.api td.token {
  font-family: monospace;
  font-weight: bold;
  font-size: 2rem;
}

@media only screen and (min-width: 601px) {
  /* line 417, ../../../src/sass/main.scss */
  .container {
    width: 85%;
  }
}
@media only screen and (min-width: 933px) {
  /* line 423, ../../../src/sass/main.scss */
  .container {
    width: 70%;
  }
}
/* line 428, ../../../src/sass/main.scss */
.right {
  float: right !important;
}
