<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>M+ Dash</title>
  <link href="/css/main.css" rel="stylesheet" />
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
</head>

<body class="cover" style="background-image: url({{cover}});">

  {{> header}}

  <div class="container homepage">
    <div class="welcome">

      <h1>Welcome to the M+ Dashboard</h1>
      <p>Please
        <a href="/login">login</a> to continue</p>
    </div>
  </div>

  {{> footer}}

</body>

</html>