<html>

<head>
  <title>M+</title>
  {{> head}}
</head>

<body class="cover" style="background-image: url({{design.cover}});">

  <section class="hero is-primary is-bold is-medium">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Welcome to the M+ Dashboard, 歡迎來到 M+ 儀表板
        </h1>
        <h2 class="subtitle">
          Before you can start you must login, 在開始之前，您必須登錄
        </h2>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      &nbsp;<br />
      &nbsp;<br />
      &nbsp;<br />
    </div>
  </section>

  <section>
    <div class="container">
      <div class="notification is-size-1 has-text-centered">
        <p>
          Please <a href="/login">login</a>, 請 <a href="/login">登錄</a>
        </p>
        <p>
          <a class="is-size-6" href="/developer/terms">
            {{i18n.nav.apiterms}}
          </a>
        </p>
      </div>
    </div>
  </section>
  {{> tail}}
</body>

</html>