<nav class="header">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo left">M+</a>
    {{#if user}}
    <ul class="capitalize">

      {{#if user.roles.isDeveloper}}
      <li>
        <a href="/developer">{{i18n.nav.developer}}</a>
      </li>
      {{/if}} {{#if user.roles.isAdmin}}
      <li>
        <a href="/config">{{i18n.nav.config}}</a>
      </li>
      {{/if}} {{#if (or user.roles.isAdmin user.roles.isStaff)}}
      <li>
        <a href="/uploadFile">{{i18n.nav.upload_files}}</a>
      </li>
      <li>
        <a href="/stats">{{{i18n.nav.stats_and_search}}}</a>
      </li>
      <li>
        <a href="/developer/terms">API Terms</a>
      </li>
      {{/if}}
    </ul>

    <ul class="right">
      <li>
        <a href="/settings">
          <img class="avatar" src="{{user.picture}}" />{{user.nickname}}</a>
      </li>
      {{#if user.roles.isAdmin}}
      <li>
        <a href="/admin">{{i18n.nav.admin}}</a>
      </li>
      {{/if}}
      <li>
        <a href="/logout">{{i18n.nav.logout}}</a>
      </li>
    </ul>
    {{else}}
    <ul class="capitalize">
      <li>
        <a href="/developer/terms">API Terms</a>
      </li>
    </ul>
    <ul class="right">
      <li>
        <a href="/login">{{i18n.nav.login}}</a>
      </li>
    </ul>
    {{/if}}
  </div>
</nav>
{{> connections}}